{% load static %}

{% block campanhaHome %}

{% for campanha in campanhas %}

                <div class="quest">

                    <div class="quest-header flex-column" style="background-image: url({{ campanha.fotoCampanha.url }});">
                        <div class="desc-bar flex">
                            <div class="desc-tag">
                                <p>{{ campanha.ambienteCampanha }}</p>
                            </div>

                            <div class="desc-tag">
                                <p>{{ campanha.generoRPG }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="quest-body">
                        <div class="quest-title flex">
                            <p><a href="{% url 'detalhes_campanha' campanha.id %}">{{ campanha.nomeCampanha }}</a></p>
                                {% for grupo in grupos %}
                                    <div id="{{ grupo.uuid }}">
                                        {% if request.user in grupo.membros.all and user != mestre.nomePerfil %}
                                            <button onclick="window.location.href = '{% url 'Abrir_chat_pub' uuid=grupo.uuid %}';">
                                                <p>Chat</p>
                                            </button>

                                            <button onclick="window.location.href = '{% url 'enter_campaign' campanha.id %}';">
                                                <p>Tabletop</p>
                                            </button>
                                        {% elif user == mestre.nomePerfil %}
                                            <button onclick="window.location.href = '{% url 'Abrir_chat_pub' uuid=grupo.uuid %}';">
                                                <p>Chat</p>
                                            </button>

                                            <button onclick="window.location.href = '{% url 'enter_campaign' campanha.id %}';">
                                                <p>Tabletop</p>
                                            </button>

                                        {% else %}
                                            {% if grupo.envioSolicitacao == '0' %}
                                                <h3><a href="{% url 'enviar_solicitacao' campanha_id=campanha.id %}" data-id="{{ campanha.id }}" class="solicitar-jogo">Jogar</a></h3>
                                            {% else %}
                                                <h3>Solicitação enviada</h3>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}

                        </div>

                        <div class="divison-row"></div>

                        <div class="quest-desc flex-column">
                            <p id="text">{{ campanha.descricaoCampanha }}</p>

                            <div class="quest-tags flex">
                                <div class="tag">
                                    <p>{{ campanha.sistemaCampanha }}</p>
                                </div>

                                <div class="tag flex" style="gap: 6px">
                                    <p>{{ campanha.numeroJogadores }}</p>
                                    <img src="{% static "img/icons/Group-icon.svg" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock %}
