{% extends "principal/base.html" %}

{% load static %}
{% block head %}
    <title>Detalhes da Campanha - Baú do Mestre</title>
    <link rel="stylesheet" href="{% static "css/detalheCampanha.css"%}"/>
{% endblock %}

{% block conteudo %}

    <div class="quest-header flex-column">

        <div class="background">
            <img class="header-child" alt="" src="{{ campanha.fotoCampanha.url }}"/>
            <div class="banner-title flex">
                <div class="left-text flex-column">
                    <div class="text">
                        <h3>{{ campanha.nomeCampanha }}</h3>
                        <p>MESTRE: {{ campanha.nomeMestre.nomePerfil }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="quest-description flex-column">
        <div class="quest-title flex-column">
            <div class="title-row flex">
                <div class="title-title">
                    <h3>{{ campanha.nomeCampanha }}</h3>
                    <p>MESTRE: {{ campanha.nomeMestre.nomePerfil }}</p>
                </div>

                <div class="title-buttons flex-column">
                    {% for grupo in grupos %}
                        {% if user == mestre.nomePerfil %}
                            <button onclick="window.location.href = '{% url 'gerenciar_solicitacoes_campanha' campanha.id %}';">
                                <p>Gerenciar Solicitações</p>
                            </button>

                            <form id="form-excluir-campanha" method="post" action="{% url 'excluir_campanha' campanha.id %}">
                                {% csrf_token %}
                                <button style="cursor: pointer;" type="button" class="jogar" onclick="confirmarExclusao()"><p>Excluir Mesa</p></button>
                            </form>
                        {% elif request.user in grupo.membros.all and user != mestre.nomePerfil %}
                            <button onclick="window.location.href = '{% url 'Sair_grupo' uuid=grupo.uuid %}';">
                                <p>Sair</p>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="description-columns flex">
            <div class="desc-left flex-column">
                <div class="description flex-column">
                    <h4>Descrição</h4>
                    <p>{{ campanha.descricaoCampanha }}</p>
                </div>

                <div class="spec flex-column">
                    <h4>Especificações</h4>
                    <div class="tags flex">
                        <div class="tag">
                            <p>{{ campanha.sistemaCampanha }}</p>
                        </div>

                        <div class="tag">
                            <p>{{ campanha.ambienteCampanha }}</p>
                        </div>

                        <div class="tag">
                            <p>{{ campanha.generoRPG }}</p>
                        </div>
                    </div>

                    <div class="date flex">
                        <div class="date-header flex-column">
                            <p>Data da Sessão</p>
                            <p id="dia-sessao">{{ campanha.diasSessao }}</p>
                        </div>
                    </div>

                    <div class="party flex-column">
                        <h4>Party</h4>

                        <table id="party">
                            <tbody class="flex-column">
                                <tr id="header" class="flex">
                                    <th><p>Nome</p></th>
                                    <th><p>Função</p></th>
                                </tr>
                            {% for membro in membros %}
                                <tr class="party-box flex">
                                    <td><p><a style="all: unset; cursor: pointer;" href="{% url 'exibir_perfil' membro.slug %}">{{ membro.nomePerfil }}</a></p></td>
                                    {% if membro.id == mestre.id %}
                                        <td><p>Mestre</p></td>
                                    {% else %}
                                        {% if user == mestre.nomePerfil %}
                                            <td>
                                                <form method="post" action="{% url 'excluir_jogador' campanha.id membro.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="mestre" style="cursor: pointer;">Excluir</button>
                                                </form>
                                            </td>
                                        {% else %}
                                            <td><p>Jogador</p></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="desc-right flex">
                <div id="join" class="join-box flex-column">
                    <div class="join flex-column">
                        <div class="join-line">
                            <div class="enviroment-label">
                                <h4>Ambiente</h4>
                                <p>{{ campanha.ambienteCampanha }}</p>
                            </div>
                            <div class="genre-label">
                                <h4>Gênero</h4>
                                <p>{{ campanha.generoRPG }}</p>
                            </div>
                        </div>
                        <div class="join-line">
                            <div class="system-label">
                                <h4>Sistema</h4>
                                <p>{{ campanha.sistemaCampanha }}</p>
                            </div>
                            <div class="party-label">
                                <h4>Grupo</h4>
                                <p>{{ membros|length }}/{{ campanha.numeroJogadores }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="button flex">
                        {% for grupo in grupos %}
                            {% if request.user in grupo.membros.all and user != mestre.nomePerfil %}
                                <button onclick="window.location.href = '{% url 'Abrir_chat_pub' uuid=grupo.uuid %}';">
                                    <p>Chat</p>
                                </button>

                                <button onclick="window.location.href = '{% url 'enter_campaign' campanha.id %}';">
                                    <p>Tabletop</p>
                                </button>
                            {% elif user == mestre.nomePerfil %}
                                <button onclick="window.location.href = '{% url 'Abrir_chat_pub' uuid=grupo.uuid %}';">
                                    <p>Chat</p>
                                </button>

                                <button onclick="window.location.href = '{% url 'enter_campaign' campanha.id %}';">
                                    <p>Tabletop</p>
                                </button>

                            {% else %}
                                {% if grupo.envioSolicitacao == '0' %}
                                    <h3><a href="{% url 'enviar_solicitacao' campanha_id=campanha.id %}" data-id="{{ campanha.id }}" class="solicitar-jogo">Jogar</a></h3>
                                {% else %}
                                    <h3>Solicitação enviada</h3>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

        {% comment %} <div class="boto-parent flex">


            <div class="status-row flex">
                <div class="jogadores flex">
                    <b class="jogadores1">Jogadores</b>
                    <div class="players">


                        {% for membro in membros %}
                            <div class="jogador1 flex">
                                <div class="nome-usuario1 flex">
                                    {% if membro.fotoConta == "Indefinido" %}
                                        <img style="background-color: white;" class="player-icon" alt="" src="{% static 'img/ain.png' %}"/>
                                    {% else %}
                                        <img style="background-color: white;" class="player-icon" alt="" src="{{ membro.fotoConta.url }}"/>
                                    {% endif %}
                                    <div class="user-data flex">
                                        <b class="nome-do-usuario"><a style="all: unset; cursor: pointer;" href="{% url 'exibir_perfil' membro.slug %}">{{ membro.nomePerfil }}</a></b>
                                        <p>{{ membro.tipo_sessao }}</p>
                                    </div>
                                </div>
                                <div class="nome-ficha">
                                    {% if membro.id == mestre.id %}
                                    <b class="mestre">MESTRE</b>
                                    {% else %}
                                        {% if user == mestre.nomePerfil %}
                                            <div class="nome-ficha">
                                                <form method="post" action="{% url 'excluir_jogador' campanha.id membro.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="mestre" style="cursor: pointer;">Excluir</button>
                                                </form>
                                            </div>
                                        {% else %}
                                        <b class="mestre">JOGADOR</b>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="status flex">
                    <div class="icons flex">
                        <div id="theme" class="flex">
                            <i class="fantasia-medieval">{{ campanha.generoRPG }}</i>
                        </div>
                        <div id="system" class="flex">
                            <img class="dungeons-and-dragons-png-1-icon" alt="" src="{% static 'img/2662663967-dungeonsanddragonspng-1@2x.png' %}"/>
                            <i class="dungeons-and-dragons">{{ campanha.sistemaCampanha }}</i>
                        </div>
                        <div id="enviroment" class="flex">
                            <img class="vector-icon" alt="" src="{% static 'img/vector.svg' %}"/>
                            <i class="campanha-online">Campanha Online</i>
                        </div>
                    </div>
                    <p id="group-tag">Grupo: {{ membros.count }}/{{ campanha.numeroJogadores }}</p>
                </div>
            </div>

            <div class="boto flex">
                <div class="boto-child flex">
                    <b class="jogar">JOGAR</b>
                </div>
            </div>
            {% if user == mestre.nomePerfil %}
            <div class="boto flex">
                <div class="boto-child flex">
                    <form id="form-excluir-campanha" method="post" action="{% url 'excluir_campanha' campanha.id %}">
                        {% csrf_token %}
                        <button style="cursor: pointer;" type="button" class="jogar" onclick="confirmarExclusao()">Excluir Mesa</button>
                    </form>
                </div>
            </div>
        {% endif %}
        </div> {% endcomment %}

<script>
    function confirmarExclusao() {
        if (confirm("Tem certeza de que deseja excluir esta campanha?")) {
            document.getElementById("form-excluir-campanha").submit();
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
    const joinBox = document.querySelector("#join");
    const joinBoxTopOffset = joinBox.offsetTop;

    window.onscroll = function () {
        if (window.scrollY >= joinBoxTopOffset) {
            joinBox.classList.add("fixed");
        } else {
            joinBox.classList.remove("fixed");
        }
    };
});
</script>

{% endblock %}
