{% extends "principal/base.html" %}
{% load static %}

{% block conteudo %}
<title>Edição de Perfil - Baú do Mestre</title>

<h1>Editar perfil do usuário</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
    {{ formPerfil.fotoConta.label_tag }}
    {{ formPerfil.fotoConta }}
    </div>

    <div>
    {% if formPerfil.fotoConta.initial %}
        {% if formPerfil.fotoConta.initial == 'Indefinido' %}
            <img src="{% static "img/Ain.png" %}" alt="Foto do usuário {{ user }}" width="250" height="250">
        {% else %}
            <img src="{{ formPerfil.fotoConta.initial.url }}" alt="Foto de perfil atual" height="250" width="250">
        {% endif %}
    {% endif %}
    </div>

    <div>
    {{ formPerfil.idade.label_tag }}
    {{ formPerfil.idade }}
    </div>

    <div>
    {{ formPerfil.descricao.label_tag }}
    {{ formPerfil.descricao }}
    </div>

    <div>
    {{ formPerfil.tipo_sessao.label_tag }}
    {{ formPerfil.tipo_sessao }}
    </div>

    <div>
    {{ formPerfil.tipo_player.label_tag }}
    {{ formPerfil.tipo_player }}
    </div>  

    <div>
    {{ formPerfil.sistema_rpg.label_tag }}
    {{ formPerfil.sistema_rpg }}
    </div>

    <button type="submit">Editar</button>
</form>

{% endblock conteudo %}
