{% extends "principal/base.html" %}

{% block conteudo %}

    <title>{{ perfil.nomePerfil.username }} - Baú do Mestre</title>

    <img src="{{ perfil.fotoConta.url }}" alt="Foto de usuário {{ perfil.nomePerfil.username }}" width="350" height="250">
    <h1>{{ perfil.nomePerfil.username }}</h1>
    <p>{{ perfil.sistema_rpg }}</p>
    <p>{{ perfil.tipo_player }}</p>
    <p>{{ perfil.tipo_sessao }}</p>
    <p>{{ perfil.descricao }}</p>

    
    {% if not is_self %}
    {% if is_amigo %}
        <a href="{% url 'remover_amigo' perfil.nomePerfil.id %}">Desfazer Amizade</a>
    {% else %}
        {% if not solicitacao_pendente %}
            <a href="{% url 'enviar_solicitacao' perfil.nomePerfil.id %}">Enviar Pedido de Amizade</a>
        {% else %}
            <p>Você já enviou uma solicitação de amizade. Aguarde a resposta do usuário.</p>
        {% endif %}
    {% endif %}
{% endif %}

<a href="{% url 'listar_amigos_usuario' perfil.nomePerfil.id %}">Ver Amigos</a>
<a href='{% url 'index' %}'>Voltar à tela inicial</a>


{%endblock conteudo%}
