{% extends "principal/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/perfil.css" %}" />

<style>
  .background-image {
    background: linear-gradient(61deg, #8c0000ab -6.5%, #1691ded6 193.06%), url({% static "img/public/Background.svg" %});
  }
</style>

<title>Perfil de usuário</title>
{% endblock %}

{% block conteudo %}

<div class="flex-column user-body">
  <div class="user-header flex-column">

    <div class="header-banner">
      <div class="background-image flex">
      </div>
    </div>

    <div class="banner-title flex">

      <div class="icon-name flex-column">
        {% if perfil.fotoConta == 'Indefinido' %}
          <img class="user-icon" alt="Foto do usuário {{ perfil.nomePerfil.username }}"  src="{% static "img/Ain.png" %}" />
        {% else %}
          <img class="user-icon" alt="Foto do usuário {{ perfil.nomePerfil.username }}"  src="{{ perfil.fotoConta.url }}" />
        {% endif %}
        <h4 class="nome">{{ perfil.nomePerfil.username }}</h4>

        {% if perfil.tipo_player == "Ambos" %}
          <p>Mestre / Jogador</p>
        {% else %}
          <p>{{ perfil.tipo_player }}</p>
        {% endif %}

        {% if campanha.id %}
          <button onclick="window.location.href = '{% url 'gerenciar_solicitacoes' %}';">
            <p>Solicitações Campanha</p>
          </button>

        {% endif %}
      </div>

      <div class="header-desc flex">

        <div class="tag-box flex">

          <div class="amizades">
            <a href="{% url 'listar_amigos_usuario' perfil.nomePerfil.id %}">
              <div class="flex">
                <img src="{% static "img/public/Friends.svg" %}" alt="">
                <h3>{{ quantidade_amigos }}</h3>
              </div>
              <h4>Amizades</h4>
            </a>
          </div>

          <div class="tags flex">
            <div class="tag">
              <p>{{ perfil.tipo_sessao }}</p>
            </div>

            <div class="tag">
              <p>{{ perfil.sistema_rpg }}</p>
            </div>
          </div>
        </div>

        <div style="justify-content: center" class="buttons flex-column">
          {% if not is_self %}

              {% if is_amigo %}
                <button onclick="window.location.href = '{% url 'remover_amigo' perfil.nomePerfil.id %}';">
                  <p>Desfazer Amizade</p>
                </button>
              {% else %}
                  {% if not solicitacao_pendente %}
                    <button class="flex" onclick="window.location.href = '{% url 'enviar_solicitacao' perfil.nomePerfil.id %}';">
                      <p>Adicionar</p>
                      <img style="width: 20%;" class="create-group-button-2-1" alt="" src="{% static 'img/public/addFriend.png'%}"/>
                    </button>

                  {% else %}
                    <button>
                      <p>Solicitação Enviada</p>
                    </button>
                  {% endif %}
              {% endif %}

          {% endif %}





        </div>

      </div>

    </div>

  </div>

  <div class="bio flex-column">
    <h4>Descrição</h4>
    <div class="horizontal-row"></div>

    <p class="desc-text">
      {{ perfil.descricao }}
    </p>
  </div>


  </div>
</div>


{% endblock %}
