{% load static %}

{% block ficha %}

{% for ficha in dnd %}
<div class="ficha flex">

    <div class="ficha-head">
        <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="ficha-banner">
        </div>
    </div>

    <div class="ficha-body flex">

        <div class="ficha-title">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel-txt">
                <p class="p">{{ ficha.nivel }}</p>
                <p class="nivel4">Nivel</p>
            </span>
        </div>

        <div class="ficha-left">

            <p>{{ ficha.lore }}</p>

            <div class="ficha-tags">
                <div class="ficha-tag">
                    <p>Dungeons & Dragons</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.classe }}</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.raca }}</p>
                </div>
            </div>

            <div class="ficha-right flex">
                <button onclick="window.location.href = '#';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '#';">
                    <p>Abrir Ficha</p>
                </button>
            </div>
        </div>

    </div>

</div>
{% endfor %}

{% for ficha in ordem %}
<div class="ficha">

    <div class="ficha-head">
        <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="ficha-banner">
        </div>
    </div>

    <div class="ficha-body flex">

        <div class="ficha-title">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel-txt">
                <p class="p">{{ ficha.nex }}</p>
                <p class="nivel4">Nex</p>
            </span>
        </div>

        <div class="ficha-left">

            <p>{{ ficha.lore }}</p>

            <div class="ficha-tags">
                <div class="ficha-tag">
                    <p>Ordem Paranormal</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.classe }}</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.origem }}</p>
                </div>
            </div>

            <div class="ficha-right flex">
                <button onclick="window.location.href = '#';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '#';">
                    <p>Abrir Ficha</p>
                </button>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% for ficha in tormenta20 %}
<div class="ficha">

    <div class="ficha-head">
        <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="ficha-banner">
        </div>
    </div>

    <div class="ficha-body flex">

        <div class="ficha-title">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel-txt">
                <p class="p">{{ ficha.nivel }}</p>
                <p class="nivel4">Nivel</p>
            </span>
        </div>

        <div class="ficha-left">

            <p>{{ ficha.lore }}</p>

            <div class="ficha-tags">
                <div class="ficha-tag">
                    <p>Tormenta20</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.classe }}</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.raca }}</p>
                </div>
            </div>

            <div class="ficha-right flex">
                <button onclick="window.location.href = '#';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '#';">
                    <p>Abrir Ficha</p>
                </button>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% for ficha in coc %}
<div class="ficha">

    <div class="ficha-head">
        <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="ficha-banner">
        </div>
    </div>

    <div class="ficha-body flex">

        <div class="ficha-title">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel-txt">
                <p class="p">{{ ficha.nivel }}</p>
                <p class="nivel4">Nivel</p>
            </span>
        </div>

        <div class="ficha-left">

            <p>{{ ficha.lore }}</p>

            <div class="ficha-tags">
                <div class="ficha-tag">
                    <p>CallOfChtullu</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.ocupacao }}</p>
                </div>
                <div class="ficha-tag">
                    <p>{{ ficha.residencia }}</p>
                </div>
            </div>

            <div class="ficha-right flex">
                <button onclick="window.location.href = '#';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '#';">
                    <p>Abrir Ficha</p>
                </button>
            </div>
        </div>

    </div>
</div>
{% endfor %}

{% endblock %}
