{% load static %}

{% block ficha %}

{% for ficha in dnd %}
<div class="ficha flex">

    <div class="ficha-head">
        <img src="{{ ficha.foto.url }}" alt="">
    </div>

    <div class="ficha-body flex-column">

        <div class="ficha-title flex">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel flex">
                <p class="nivel4">Nivel</p>
                <p class="p">{{ ficha.nivel }}</p>
            </span>
        </div>

        <div class="hr"></div>

        <div class="ficha-desc flex">
            <div class="ficha-left flex-column">

                <p>{{ ficha.lore }}</p>

                <div class="ficha-tags flex">
                    <div class="ficha-tag">
                        <p>Dungeons & Dragons</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.classe }}</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.raca }}</p>
                    </div>
                </div>
            </div>

            <div class="ficha-right flex-column">
                <button onclick="window.location.href = '{% url "edit_dnd" ficha.id %}';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '{% url "deletar_char" "dungeons&dragons" ficha.id %}';">
                    <p>Deletar Ficha</p>
                </button>
            </div>
        </div>

    </div>

</div>
{% endfor %}

{% for ficha in ordem %}
<div class="ficha flex">

    <div class="ficha-head">
        <img src="{{ ficha.foto.url }}" alt="">
    </div>

    <div class="ficha-body flex-column">

        <div class="ficha-title flex">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel flex">
                <p class="nivel4">Nex</p>
                <p class="p">{{ ficha.nex }}</p>
            </span>
        </div>

        <div class="hr"></div>

        <div class="ficha-desc flex">
            <div class="ficha-left flex-column">

                <p>{{ ficha.lore }}</p>

                <div class="ficha-tags flex">
                    <div class="ficha-tag">
                        <p>Ordem Paranormal</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.classe }}</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.origem }}</p>
                    </div>
                </div>
            </div>

            <div class="ficha-right flex-column">
                <button onclick="window.location.href = '{% url "edit_ordem" ficha.id %}';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '{% url "deletar_char" "ordemparanormal" ficha.id %}';">
                    <p>Deletar Ficha</p>
                </button>
            </div>
        </div>

    </div>

</div>
{% endfor %}
{% for ficha in tormenta20 %}
<div class="ficha flex">

    <div class="ficha-head">
        <img src="{{ ficha.foto.url }}" alt="">
    </div>

    <div class="ficha-body flex-column">

        <div class="ficha-title flex">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel flex">
                <p class="nivel4">Nex</p>
                <p class="p">{{ ficha.nex }}</p>
            </span>
        </div>

        <div class="hr"></div>

        <div class="ficha-desc flex">
            <div class="ficha-left flex-column">

                <p>{{ ficha.lore }}</p>

                <div class="ficha-tags flex">
                    <div class="ficha-tag">
                        <p>Tormenta 20</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.classe }}</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.raca }}</p>
                    </div>
                </div>
            </div>

            <div class="ficha-right flex-column">
                <button onclick="window.location.href = '{% url "edit_tormenta20" ficha.id %}';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '{% url "deletar_char" "tormenta20" ficha.id %}';">
                    <p>Deletar Ficha</p>
                </button>
            </div>
        </div>

    </div>

</div>
{% endfor %}
{% for ficha in coc %}
<div class="ficha flex">

    <div class="ficha-head">
        <img src="{{ ficha.foto.url }}" alt="">
    </div>

    <div class="ficha-body flex-column">

        <div class="ficha-title flex">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            <span class="nivel flex">
                <p class="nivel4">Nex</p>
                <p class="p">{{ ficha.nex }}</p>
            </span>
        </div>

        <div class="hr"></div>

        <div class="ficha-desc flex">
            <div class="ficha-left flex-column">

                <p>{{ ficha.lore }}</p>

                <div class="ficha-tags flex">
                    <div class="ficha-tag">
                        <p>CallOfChtullu</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.ocupacao }}</p>
                    </div>
                    <div class="ficha-tag">
                        <p>{{ ficha.residencia }}</p>
                    </div>
                </div>
            </div>

            <div class="ficha-right flex-column">
                <button onclick="window.location.href = '{% url "edit_coc" ficha.id %}';">
                    <p>Editar Ficha</p>
                </button>

                <button onclick="window.location.href = '{% url "deletar_char" "callofcthulhu" ficha.id %}';">
                    <p>Deletar Ficha</p>
                </button>
            </div>
        </div>

    </div>

</div>
{% endfor %}

{% endblock %}
