<!-- principal/gerenciar_solicitacoes.html -->
{% extends "principal/base.html" %}
{% block conteudo %}
  <h1>Gerenciar Solicitações de Entrada</h1>
  {% for solicitacao in solicitacoes %}
    {% if solicitacao.status == 'Pendente' %}
      <p>{{ solicitacao.de_usuario.nomePerfil.username }} solicitou entrada para a campanha {{solicitacao.para_campanha.nomeCampanha}}</p>
      <a href="{% url 'aceitar_solicitacao_camp' solicitacao.id %}">Aceitar</a>
      <a href="{% url 'recusar_solicitacao_camp' solicitacao.id %}">Recusar</a>
    {% endif %}
  {% empty %}
    <p>Nenhuma solicitação pendente recebida.</p>
  {% endfor %}
{% endblock conteudo %}
