{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static "css/global-ia.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsivity.css" %}" />
    <link rel="stylesheet" href="{% static 'css/index-ia.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=a Absolute Empire:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap"/>
  </head>
  <body class="desktop">
    <div class="navbar1 flex">
      <div class="left-box flex">
        <img class="ba-do-mestre-23-4" alt="logo" src="{% static 'img/public/ba-do-mestre-23-4.svg' %}"/>
        <p class="bau-do-mestre-container">BAU DO MESTRE</p>
      </div>
      <div class="buttons flex">
        <div class="basic-buttons flex">
          <div class=" nav-button">
            <a href="{% url 'home' %}">Home</a>
          </div>
          <div class="nav-button">
            <a href="{% url 'sobre-nos' %}">Sobre Nos</a>
          </div>
          <div class="nav-button">
            <a href="#">Campanhas</a>
          </div>
        </div>
        <div class="login-button flex">
          <div class="red-button flex">
            <a href="{% url 'account_signup' %}" class="red-button-inn">cadastro</a>
          </div>
          <div class="red-button flex">
            <a href="{% url 'account_login' %}" class="red-button-inn">Login</a>
          </div>
        </div>
      </div>

    <button onclick="openSide()"><img class="line-nav" src="{% static 'img/public/3_line.png' %}" alt=""></button>
  </div>

  <div id="sidenav" class="flex">
    <div class="sidenav-header flex">
      <p class="bau-do-mestre-sidenav">BAU DO MESTRE</p>
      <button onclick="closeSide()"><img  src="{% static 'img/public/close-x.svg' %}" alt=""></button>
    </div>
    <div class="sidenav-body flex">
      <div class=" nav-button">
	


  <div class="start text-align flex">
    <div class="start-child flex"  style="background-image: url({% static "img/public/edgelord-dragon-1@2x.png" %}); ">

      <div class="overlay"></div>


            </div>
        </div>
      </div>
      <img class="dashboard-1-icon" alt="" src="{% static 'img/public/dashboard-1@2x.png' %}"/>
    </div>
    <div class="public-end">
      <div class="public-footer-box flex">

    <div class="rpgs1 flex">

      <div class="column flex">
        <img class="image-43-icon" alt="" src="{% static 'img/public/image-43@2x.png' %}" />
        <img class="image-44-icon" alt="" src="{% static 'img/public/image-44@2x.png' %}" />
      </div>

      <div class="column flex">
        <img class="image-45-icon" alt="" src="{% static 'img/public/image-45@2x.png' %}" />
        <img class="image-46-icon" alt="" src="{% static 'img/public/image-46@2x.png' %}" />
      </div>

    </div>

    <p class="explore-a-rede">explore a rede</p>
    <div class="ranks flex">
      <div id="rank" class="rank-box flex">
        <img class="frame-icon" alt="" src="{% static 'img/public/frame.svg' %}" />
        <p class="participe-de-aventuas">participe de aventuras</p>
        <div>
          <b class="veja-mais" id="vejaMaisText">Veja Mais</b>
          <div class="rank-child"></div>
        </div>
      </div>
      <div id="rank1" class="rank-box flex">
        <img class="frame-icon" alt="" src="{% static 'img/public/frame1.svg' %}" />
        <p class="crie-sua-conta">crie sua conta</p>
        <div>
          <b class="veja-mais" id="vejaMaisText1">Veja Mais</b>
          <div class="rank-child"></div>
        </div>
      </div>
      <div id="rank2" class="rank-box flex">
        <img class="frame-icon" alt="" src="{% static 'img/public/frame2.svg' %}" />
        <p class="fale-conosco">fale conosco</p>
        <div>
          <b class="veja-mais">Veja Mais</b>

  <div class="footer flex">
    <div class="footer-left-column flex">
      <div class="upper flex">
        <img class="ba-do-mestre-23-5" alt="" src="{% static 'img/public/ba-do-mestre-23-5.svg' %}"/>
        <p class="levando-a-magia">Levando a magia do RPG para todos</p>
      </div>
      <div class="bau-do-mestre1">Bau do Mestre</div>
      </div>

      <div class="elipses flex">
        <img class="footer-button" alt="" src="{% static 'img/public/phone.svg' %}"/>
        <img class="footer-button" alt="" src="{% static 'img/public/mail.svg' %}" />
        <img class="footer-button" alt="" src="{% static 'img/public/youtube.svg' %}" />
        <img class="footer-button" alt="" src="{% static 'img/public/twitter.svg' %}"/>
      </div>

    </div>
  </div>
</body>
</html>

<script src="{% static 'js/sidenav.js' %}"></script>