{% load static %}
{% block conteudo %}

<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>Campanhas - Baú do Mestre</title>

    <link rel="shortcut icon" href="{% static 'img/ain.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "css/global.css" %}" />
    <link rel="stylesheet" href="{% static "css/dashboard-otimized.css" %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=a Absolute Empire:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,700&display=swap"/>
    <!-- <link rel="stylesheet" href="phosphoricons.com?weight=bold&size=32&color=faf9f9"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
  </head>

  <body class="flex" id="dashboard-otimized">

    <main class="main-page flex">
      <nav class="flex">
        <div class="nav-buttons flex">
          <div class="nav-btn">
            <a style="all: unset;" href="{% url 'index' %}">Home</a>
          </div>
          <div class="nav-btn">
            <a style="all: unset;" href="{% url 'inventarioRedirect' %}"><p>Inventário</p></a>
          </div>
          <div class="nav-btn">
            <a style="all: unset;" href="{% url 'buscarmesa' %}"><p>Campanhas</p></a>
          </div>
          <div class="nav-btn">
            <a style="all: unset;" href="{% url 'listar_amigos' %}"><p>Social</p></a>
          </div>
          <div class="nav-btn">
            <a style="all: unset;" href="{% url 'meus_personagens' %}"><p>Personagens</p></a>
          </div>
          {% if user.is_authenticated%}
          {% else %}
          <div class="nav-btn">
            <a href="{% url 'account_signup' %}">Cadastre-se</a>
          </div>
          <div class="nav-btn">
            <a href="{% url 'account_login' %}">Login</a>
          </div>
          {% endif %}
        </div>
        <button
        onclick="openSide()"><img class="navbar-icon" id="btn-ico" src="{% static "img/public/list-bold.svg" %}" alt=""></button>
        {% if fotoConta != "Indefinido" %}
        <a style="cursor: pointer;" href="{% url 'usuario' %}"><img style="border-radius: 100%;" class="navbar-icon" alt="" src="{{ fotoConta.url }}" /></a>
        {% else %}
            <a style="all: unset; cursor: pointer;" href="{% url 'usuario' %}"><img style="border-radius: 100%;" class="navbar-icon" alt="" src="{% static "img/ain.png" %}" /></a>
        {% endif %}
        
      </nav>
      <div id="sidebar" class="sidebar-dashboard flex">
        <button onclick="closeSide()"><img alt="" src="{% static "img/public/frame5.svg" %}"/></button>

        <div class="sidebar-body flex">

          <div class="sidebar-body-upper flex">

            <div class="side-boxes" id="homeContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/home.png" %}"/>
              <b class="sidebar-subtitle">Home</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

            <div class="side-boxes" id="campanhasContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/d20-2@2x.png" %} " />
              <b class="sidebar-subtitle">Campanhas</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

            <div class="side-boxes" id="personagensContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/capacete-2@2x.png" %}" />
              <b class="sidebar-subtitle">Personagens</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

            <div class="side-boxes" id="inventarioContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/backpack-1@2x.png" %}" />
              <b class="sidebar-subtitle">Inventário</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

            <div class="side-boxes" id="socialContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/people-1@2x.png" %}" />
              <a href="{% url 'listar_amigos' %}"><b class="sidebar-subtitle">Social</b></a>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>
            

          </div>

          <div class="sidebar-body-lower flex">

            <div class="side-boxes" id="configuraesContainer">
              <img class="sidebar-icon" alt="" src="{% static "img/public/frame4.svg" %}" />
              <b class="sidebar-subtitle">Perfil</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

            <div class="side-boxes">
              <img class="sidebar-icon" alt="" src="{% static "img/public/frame3.svg" %}" />
              <b class="sidebar-subtitle">Logout</b>
              <img class="down-arrow-1-2" alt="" src="{% static "img/public/downarrow-1-3@2x.png" %}"/>
            </div>

          </div>
        </div>

        <div class="sidebar-dashboard-child"></div>

        <div class="sidebar-footer flex">
          <b class="armazenamento">Armazenamento</b>

          <div class="rectangle-div">
            <div class="frame-child1"></div>
          </div>

          <div class="gb-de-9">5 GB de 9 usados</div>

          <div class="sidebar-profile flex">
            <img class="image-50-icon" alt="" src="{% static "img/public/image-50@2x.png" %}" />
            <div class="profile-name">
              <b class="leonardo-paschoa">Leonardo Paschoa</b>
              <p class="meuemailgmailcom">meuemail@gmail.com</p>
            </div>
          </div>

        </div>
      </div>

      <div class="dashboard-otimized-item flex">
        <div class="info-box">

          <div class="bem-vindo-jogador-container2">
            <span class="nivel-txt flex">
              <span>BEM VINDO </span>
              <span class="jogador1">JOGADOR</span>
            </span>
          </div>

        </div>
        <div class="icons-list flex">
          <img src="{% static "img/public/dice.svg" %}" alt="">
          <img src="{% static "img/public/people 1.png" %}" alt="">
          <img src="{% static "img/public/backpack 1.png" %}" alt="">
        </div>
        <p class="qual-a-aventura">Qual a aventura de hoje?</p>
        <p class="encontre-histrias-incrveis">Encontre histórias incríveis</p>

        <img class="down-arrow-1-2" style="margin-left: unset" alt="" src="{% static "img/public/caret-down.svg" %}" />
      </div>
    </main>

    <div class="quests">
      <div class="quests1 flex">
        <h3 style="font-size: clamp(32px, 3vw, 148px) !important;">Quests</h3>
        <a href="{% url 'criarCampanhas' %}"><img class="vector-icon12" alt="" src="{% static "img/public/plus-bold.svg" %}" /></a>
      </div>

      <div class="mesas flex">
        {% for campanha in campanhas %}
          <tr>
             <div class="vector-group flex">
			  <div style="background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ campanha.fotoCampanha.url }});" class="frame-child3 flex">
				  <p class="the-dragoon-hunters">{{ campanha.nomeCampanha }}</p>
			  </div>
			  <div class="text-box flex">
				<p class="lorem-ipsum-dolor3">
          <td>{{ campanha.descricaoCampanha }}</td>
        </p>

				<div class="icons flex">
				  <div class="icon-box flex">
					<img class="vector-icon" alt="" src="{% static "img/public/mesa-online.svg" %}"/>
					<i class="type-text">
            <td class="type-text">{{ campanha.ambienteCampanha }}</td>
          </i>
				  </div>
				  <div class="icon-box flex">
					<!--<img class="vector-icon" alt="" src="{% static "img/public/vector13.svg" %}" />-->
					<i class="type-text">
            <td class="type-text">{{ campanha.generoRPG }}</td>
          </i>
				  </div>
				  <div class="icon-box flex">
					<img class="vector-icon" alt="" src="{% static "img/public/dnd.svg" %}"/>
					<i class="type-text">
            <td class="type-text">{{ campanha.sistemaCampanha }}</td>
          </i>
				  </div>
				</div>
				<p class="grupo-56">
          <td class="grupo-56">GRUPO: {{ campanha.numeroJogadores }}</td>
        </p>
			  </div>
			  <div class="box-buttons flex">
				<!--<div class="frame-child7">
				  <p class="button-text">Veja Mais...</p>
				</div>-->
				<div class="frame-child8">
				  <a style="all: unset;" href="{% url 'Abrir_chat_pub' campanha.uuid %}"><p class="button-text jogar">JOGAR</p></a>
				</div>
			  </div>
			</div>
          </tr>
{% endfor %}

      </div>
    
      <!--
        <div class="button-child flex">
            <a style="all: unset;" href="{% url 'buscarmesa' %}">
                <b class="veja-mais3">Veja Mais</b>
            </a>
        <img class="down-arrow-1-43" alt="" src="{% static "img/public/downarrow-1-42@2x.png" %}"/>
        </div>
        -->
    </div>

    <div class="personagens1 flex">
      <div class="character-header flex">
        <div class="personagens2">Personagens</div>
        <a href="{% url 'criacao_char' %}">
            <img class="vector-icon12" alt="" src="{% static "img/public/plus-bold.svg" %}" />
        </a>
      </div>

      <div class="char-carroussel flex">
        {% for ficha in dnd %}
            <div class="vector-parent">
                <div class="frame-inner">
                <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="frame-child3 character-banner">
                    <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
                </div>
                </div>
                <p class="lorem-ipsum-dolor2">{{ ficha.lore }}</p>
                <div class="frame-body flex">
                <div class="left-column">
                    <div class="main-caracteristics flex">
                    <div class="characteristic">
                        <div class="char">Raça</div>
                        <hr class="line-div">
                        <p class="atr">{{ ficha.raca }}</p>
                    </div>
                    <div class="characteristic">
                        <div class="char">Alinhamento</div>
                        <hr class="line-div">
                        <p class="atr">{% if ficha.personalidade != None %}{{ ficha.personalidade }}{% endif %}</p>
                    </div>
                    <div class="characteristic">
                        <div class="char">Classe</div>
                        <hr class="line-div">
                        <p class="atr">{{ ficha.classe }}</p>
                    </div>
                    </div>
                </div>
                <div class="right-column flex">
                    <img class="frame-child6" alt="" src="{% static "img/public/vector-17.svg" %}" />
                    <div class="nivel3">
                    <span class="nivel-txt">
                        <p class="p">{{ ficha.nivel }}</p>
                        <p class="nivel4">Nivel</p>
                    </span>
                    </div>
                </div>
                </div>
                <div class="frame-footer flex">
                <a style="all: unset; cursor: pointer;" href="{% url 'detail_char_dnd' ficha.id %}">
                    <div class="frame6 flex">
                        <b class="abrir">ABRIR</b>
                    </div>
                </a>
                </div>
            </div>
        {% endfor %}

        {% for ficha in ordem %}
        <div class="vector-parent">
            <div class="frame-inner">
            <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="frame-child3 character-banner">
                <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
            </div>
            </div>
            <p class="lorem-ipsum-dolor2">{% if ficha.lore %}{{ ficha.lore }}{% else %}Não possui lore.{% endif %}</p>
            <div class="frame-body flex">
            <div class="left-column">
                <div class="main-caracteristics flex">
                <div class="characteristic">
                    <div class="char">Origem</div>
                    <hr class="line-div">
                    <p class="atr">{{ ficha.origem }}</p>
                </div>
                <div class="characteristic">
                    <div class="char">Vida</div>
                    <hr class="line-div">
                    <p class="atr">{{ ficha.vida }}</p>
                </div>
                <div class="characteristic">
                    <div class="char">Classe</div>
                    <hr class="line-div">
                    <p class="atr">{{ ficha.classe }}</p>
                </div>
                </div>
            </div>
            <div class="right-column flex">
                <img class="frame-child6" alt="" src="{% static "img/public/vector-17.svg" %}" />
                <div class="nivel3">
                <span class="nivel-txt">
                    <p class="p">{{ ficha.nex }}%</p>
                    <p class="nivel4">Nex</p>
                </span>
                </div>
            </div>
            </div>
            <div class="frame-footer flex">
            <a style="all: unset; cursor: pointer;" href="{% url 'detail_char_ordem' ficha.id %}">
                <div class="frame6 flex">
                    <b class="abrir">ABRIR</b>
                </div>
            </a>
            </div>
        </div>
    {% endfor %}
    {% for ficha in tormenta20 %}
    <div class="vector-parent">
        <div class="frame-inner">
        <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="frame-child3 character-banner">
            <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
        </div>
        </div>
        <p class="lorem-ipsum-dolor2">{% if ficha.lore %}{{ ficha.lore }}{% else %}Não possui lore.{% endif %}</p>
        <div class="frame-body flex">
        <div class="left-column">
            <div class="main-caracteristics flex">
            <div class="characteristic">
                <div class="char">Raça</div>
                <hr class="line-div">
                <p class="atr">{{ ficha.raca }}</p>
            </div>
            <div class="characteristic">
                <div class="char">Divindade</div>
                <hr class="line-div">
                <p class="atr">{{ ficha.divindade }}</p>
            </div>
            <div class="characteristic">
                <div class="char">Classe</div>
                <hr class="line-div">
                <p class="atr">{{ ficha.classe }}</p>
            </div>
            </div>
        </div>
        <div class="right-column flex">
            <img class="frame-child6" alt="" src="{% static "img/public/vector-17.svg" %}" />
            <div class="nivel3">
            <span class="nivel-txt">
                <p class="p">{{ ficha.nivel }}</p>
                <p class="nivel4">Nivel</p>
            </span>
            </div>
        </div>
        </div>
        <div class="frame-footer flex">
        <a style="all: unset; cursor: pointer;" href="{% url 'detail_char_tormenta' ficha.id %}">
            <div class="frame6 flex">
                <b class="abrir">ABRIR</b>
            </div>
        </a>
        </div>
    </div>
{% endfor %}
{% for ficha in coc %}
<div class="vector-parent">
    <div class="frame-inner">
    <div style=" background-image: linear-gradient(105.23deg,rgb(0 0 0 / 42%),#a8233c 145.44%,rgb(54 0 0 / 99%)), url({{ ficha.foto.url }});" class="frame-child3 character-banner">
        <p class="kharthaisen1 the-dragoon-hunters">{{ ficha.nome }}</p>
    </div>
    </div>
    <p class="lorem-ipsum-dolor2">{% if ficha.lore %}{{ ficha.lore }}{% else %}Não possui lore.{% endif %}</p>
    <div class="frame-body flex">
    <div class="left-column">
        <div class="main-caracteristics flex">
        <div class="characteristic">
            <div class="char">Ocupação</div>
            <hr class="line-div">
            <p class="atr">{{ ficha.ocupacao }}</p>
        </div>
        <div class="characteristic">
            <div class="char">Residencia</div>
            <hr class="line-div">
            <p class="atr">{{ ficha.residencia }}</p>
        </div>
        </div>
    </div>
    <div class="right-column flex">
        <img class="frame-child6" alt="" src="{% static "img/public/vector-17.svg" %}" />
        <div class="nivel3">
        <span class="nivel-txt">
            <p class="p">{{ ficha.vida }}</p>
            <p class="nivel4">Vida</p>
        </span>
        </div>
    </div>
    </div>
    <div class="frame-footer flex">
    <a style="all: unset; cursor: pointer;" href="{% url 'detail_char_coc' ficha.id %}">
        <div class="frame6 flex">
            <b class="abrir">ABRIR</b>
        </div>
    </a>
    </div>
</div>
{% endfor %}

      </div>
      <!--
      <div class="button">
        <div class="button-child flex">
          <b class="veja-mais3">Veja Mais</b>
          <img class="down-arrow-1-43" alt="" src="{% static "img/public/downarrow-1-42@2x.png" %}"/>
      </div>
      </div>
      -->
    </div>

  </body>
</html>

<script>
  function openSide(){
    document.getElementById("sidebar").style.left = "0"
}
function closeSide(){
    document.getElementById("sidebar").style.left = "-500px"
}
</script>

<table class="table">
</table>

{% endblock conteudo %}
