{% extends 'principal/baseDashboard.html'%}

{% load static %}

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/dashboard-otimized.css" %}"/>
    <title>Baú do Mestre</title>
{% endblock %}

{% block dashboard %}

<body class="flex-column">

  <div class="homeHeader">
    <div class="homeBanner flex-column" style="background: linear-gradient(rgba(33, 7, 7, 0.5), rgba(33, 7, 7, 0.5)), url('{% static "img/background-home.png" %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <h1>Bem Vindo <strong>Jogador</strong></h1>
      <div class="hr"></div>
      <h3>Pronto para mais uma Aventura?</h3>
    </div>
  </div>

  <div class="box-title flex-column">
    <div class="box-header flex">
        <h3>Quests</h3>

        {% if perfil.tipo_player == "Ambos" or perfil.tipo_player == "Mestre" %}
            <button onclick="window.location.href = '{% url 'criarCampanhas' %}';">
                <h4>Criar Campanha</h4>
            </button>
        {% elif perfil.tipo_player == "Jogador"%}
            <button onclick="window.location.href = '{% url 'buscarmesa' %}';">
                <h4>Mais Campanhas</h4>
            </button>
        {% endif %}

    </div>
    <div class="boxHr"></div>

    <div class="quest-box flex">
      {% include "principal/campanha.html" %}
    </div>
  </div>

  <div class="box-title flex-column">
    <div class="box-header flex ">
        <h3>Fichas</h3>
        <button onclick="window.location.href = '{% url 'criacao_char' %}';">
            <h4>Criar Ficha</h4>
        </button>
    </div>
    <div class="boxHr"></div>

    <div class="ficha-box flex-column">
        {% include "principal/ficha.html" %}
    </div>
  </div>

</body>
</html>

<table class="table">
</table>

{% endblock %}

