{% extends 'principal/base.html' %}

{% block conteudo %}

<h1>Você está na tela de Mural!</h1>
<title>Mural - Baú do Mestre</title>

<a href='{% url 'index' %}'>Voltar a tela inicial</a> <br> <br>
<a href="{% url 'Novo_grupo' %}" class="btn btn-secondary">Novo Grupo</a> <br> <br>

<form method="GET" class="search-form">
    <input type="text" name="q" placeholder="Buscar por nome da campanha">
    <label for="sistema">Sistema:</label>
    <select name="sistema" id="sistema">
        <option value="">Todos</option>
        <option value="Dungeons & Dragons">Dungeons & Dragons</option>
        <option value="Ordem Paranormal">Ordem Paranormal</option>
        <option value="Tormenta20">Tormenta20</option>
        <option value="Call of Cthulu">Call of Cthulu</option>
        <option value="Outro">Outro</option>
    </select>
    <label for="ambiente">Ambiente:</label>
    <select name="ambiente" id="ambiente">
        <option value="">Todos</option>
        <option value="Online">Online</option>
        <option value="Presencial">Presencial</option>
    </select>
    <label for="genero">Gênero:</label>
    <select name="genero" id="genero">
        <option value="">Todos</option>
        <option value="Aventura">Aventura</option>
        <option value="Comédia">Comédia</option>
        <option value="Drama">Drama</option>
        <option value="Fantasia">Fantasia</option>
        <option value="Histórico">Histórico</option>
        <option value="Mistério">Mistério</option>
        <option value="Suspense">Suspense</option>
        <option value="Terror">Terror</option>
    </select>
    <button type="submit">Buscar</button>
</form>

{% if campanhas %}
{% else %}
    <p>Nenhuma campanha encontrada.</p>
{% endif %}


{% if perfil.tipo_player == "Ambos" or perfil.tipo_player == "Mestre" %}
<a href="{% url 'criarCampanhas' %}">Crie suas próprias mesas</a>
{% endif %}


{% comment %} <a href="{% url 'criarCampanhas' %}">Crie suas próprias mesas</a> {% endcomment %}

<br> <br>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome da Campanha</th>
            <th>Mestre</th>
            <th>Sistema</th>
            <th>Descrição</th>
            <th>Ambiente</th>
            <th>Número de Jogadores</th>
            <th>Dias de Sessão</th>
            <th>Gênero</th>
        </tr>
    </thead>
    <tbody>
        {% for campanha in campanhas %}
        <tr>
            <td><img src="{{ campanha.fotoCampanha.url }}" alt="Foto da Campanha" width="150" height="100"></td>
            <td>{{ campanha.nomeCampanha }}</td>
            <td><a href="{% url 'exibir_perfil' perfil_slug=campanha.nomeMestre.slug %}">{{ campanha.nomeMestre.nomePerfil.username }}</a></td>
            <td>{{ campanha.sistemaCampanha }}</td>
            <td>{{ campanha.descricaoCampanha }}</td>
            <td>{{ campanha.ambienteCampanha }}</td>
            <td>{{ campanha.numeroJogadores }}</td>
            <td>{{ campanha.diasSessao }}</td>
            <td>{{ campanha.generoRPG }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% for grupo in grupos %}
<div id="{{ grupo.uuid }}">
  <li><a>{{ grupo.uuid }}</a></li>
    {% if request.user in grupo.membros.all %}
      <a href="{% url 'Abrir_chat' uuid=grupo.uuid %}">abrir</a>
      <a href="{% url 'Sair_grupo' uuid=grupo.uuid %}">sair</a>
      <a href="{% url 'Remover_grupo' uuid=grupo.uuid %}">excluir</a>
    {% else %}
      <a href="{% url 'Entrar_grupo' uuid=grupo.uuid %}">Entrar</a>
    {% endif %}
</div>
{% endfor %}
  

{% endblock conteudo %}
