{% extends "principal/base.html" %}

{% load static %}
{% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Baú do Mestre</title> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/campanhas_mural.css" %}" />
    <title>Buscar mesa - Baú do Mestre</title>
{% endblock %}

{% block conteudo %}

    <div class="mural-banner flex space-between">
        <div class="mural-leftColumn flex flex-column">
            <h1>Campanhas</h1>
            <h3>Procure pela campanha certa para você!</h3>
            <h3>Há: <strong>{{ campanhas_e_grupos|length }}</strong> Disponíveis</h3>
        </div>

        <img src="{% static "img/muralDragon.svg" %}" alt="">

        <div class="filter-box flex">
            <div class="filter-selec">
                <h4>Sistema</h4>
                <form method="GET" class="search-form flex-column">
                <select name="sistema" id="sistema" style="background: url('{% static "img/icons/Select.svg" %}') no-repeat right center;">
                    <option value="">Todos</option>
                    <option value="Dungeons & Dragons">Dungeons & Dragons</option>
                    <option value="Ordem Paranormal">Ordem Paranormal</option>
                    <option value="Tormenta20">Tormenta20</option>
                    <option value="Call of Cthulu">Call of Cthulu</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>

            <div class="vertical-row"></div>

            <div class="filter-selec">
                <h4>Ambiente</h4>
                <select name="ambiente" id="ambiente" style="background: url('{% static "img/icons/Select.svg" %}') no-repeat right center;">
                    <option value="">Todos</option>
                    <option value="Online">Online</option>
                    <option value="Presencial">Presencial</option>
                </select>
            </div>

            <div class="vertical-row"></div>

            <div class="filter-selec">
                <h4>Gênero</h4>
                <select name="genero" id="genero" style="background: url('{% static "img/icons/Select.svg" %}') no-repeat right center;">
                    <option value="">Todos</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Comédia">Comédia</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasia">Fantasia</option>
                    <option value="Histórico">Histórico</option>
                    <option value="Mistério">Mistério</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Terror">Terror</option>
                </select>
            </div>
        </div>
    </div>

        <div class="search flex-column">
            <h4>Ou Busque Pelo Nome!</h4>
            <div class="searchbar">
                <div class="search-head flex">
                    <input type="text" name="q" autocomplete="off" placeholder="Nome da campanha">
                    <button type="submit">
                        <img src="{% static "img/icons/Lupa.svg" %}" alt="Buscar">
                    </button>
                </div>
            </div>
        </div>
    </form>

        <div class="search-result flex">
            <div class="result-left flex-column">
                <h3>Resultado da Busca</h3>
                <p>Foram Encontradas: <strong>{{ campanhas_e_grupos.items|length }} Campanhas</strong> </p>
            </div>

            <div class="create-quest">
                {% if perfil.tipo_player == "Ambos" or perfil.tipo_player == "Mestre" %}
                    <button onclick="window.location.href = '{% url 'criarCampanhas' %}';">
                        <h4>Criar Campanha</h4>
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="horizontal-row"></div>

        <div class="quests">

            {% if campanhas_e_grupos.items %}
                {% else %}
                <div class="no-found flex-column">
                    <div class="no-found-Text flex-column">
                        <h2>Viish... Aparentemente não começaram essa aventura</h2>
                        <h4>Mas isso não te impede de começar a sua própria</h4>
                    </div>

                    <button class="no-found-Button" onclick="window.location.href = '{% url 'criarCampanhas' %}';">
                        <h4>Criar Campanha</h4>
                    </button>
                </div>
            {% endif %}

            {% for campanha, grupos in campanhas_e_grupos.items %}
                <div class="quest">

                    <div class="quest-header flex-column" style="background-image: url({{ campanha.fotoCampanha.url }});">
                        <div class="desc-bar flex">
                            <div class="desc-tag">
                                <p>{{ campanha.ambienteCampanha }}</p>
                            </div>

                            <div class="desc-tag">
                                <p>{{ campanha.generoRPG }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="quest-body">
                        <div class="quest-title flex">
                            <p><a href="{% url 'detalhes_campanha' campanha.id %}">{{ campanha.nomeCampanha }}</a></p>
                            <button>
                                {% for grupo in grupos %}
                                    <div id="{{ grupo.uuid }}">
                                        {% if request.user in grupo.membros.all %}
                                                <p><a href="{% url 'Sair_grupo' uuid=grupo.uuid %}">Sair</a></p>
                                        {% else %}
                                            {% if grupo.envioSolicitacao == '0' %}
                                                <p><a href="{% url 'enviar_solicitacao' campanha_id=campanha.id %}" data-id="{{ campanha.id }}" class="solicitar-jogo">Jogar</a></p>
                                            {% else %}
                                                <p>Solicitação enviada</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </button>
                        </div>

                        <div class="divison-row"></div>

                        <div class="quest-desc flex-column">
                            <p id="text">{{ campanha.descricaoCampanha }}</p>

                            <div class="quest-tags flex">
                                <div class="tag">
                                    <p>{{ campanha.sistemaCampanha }}</p>
                                </div>

                                <div class="tag flex" style="gap: 6px">
                                    <p>{{ campanha.numeroJogadores }}</p>
                                    <img src="{% static "img/icons/Group-icon.svg" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.solicitar-jogo').forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); // Previne o comportamento padrão do link
                    const url = this.getAttribute('href');
                    const button = this; // Referência ao botão clicado

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': getCookie('csrftoken') // Adiciona o token CSRF para segurança
                        },
                        body: new URLSearchParams({
                            'csrfmiddlewaretoken': getCookie('csrftoken') // Inclui o token CSRF no corpo da requisição
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'error') {
                            window.alert(data.message);
                        } else if (data.status === 'success') {
                            // Atualiza o DOM para mostrar "Abrir", "Sair" ou "Excluir" com base no status
                            button.textContent = 'Solicitação enviada';

                            button.classList.remove('solicitar-jogo'); // Remove a classe para evitar outro clique
                        }
                    })
                    .catch(error => {
                        window.alert('Ocorreu um erro ao enviar a solicitação.');
                        console.error('Error:', error);
                    });
                });
            });

            // Função para obter o valor do cookie CSRF
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
        </script>

{% endblock %}
