{% extends "principal/base.html" %}

{% load static %}
{% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Baú do Mestre</title> {% endcomment %}
    <link rel="shortcut icon" href="{% static 'img/ain.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "css/global-ia.css" %}" />
    <link rel="stylesheet" href="{% static "css/campanhas_mural.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsivity.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=a Absolute Empire:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
    <title>Buscar mesa - Baú do Mestre</title>
    <style>
        .filter-box select {
            all: unset;
            background-color: white;
            font-size: var(--font-inter);
            color: black;
            font-weight: bold;
            width: 95%;
            background: white url({% static 'img/public/caret-down-black.svg' %}) no-repeat left;
            background-position: 3% 50%;
            background-size: 2vw;
            font-size: clamp(1rem, 2vw, 2rem);
            height: 3.5rem;
            display: flex;
            align-items: center;
            text-align: end;
            padding-right: 10px;
          }
    </style>
{% endblock %}

{% block conteudo %}

    <br><br><br>
    <h1>Campanhas</h1>
    <form style="all: unset;" method="GET" class="search-form">
        <div class="searchbar">
        <div class="search-head flex">
            <input type="text" name="q" placeholder="Buscar por nome da campanha">
            <button type="submit">
            <p>Buscar</p>
            </button>
        </div>

        <div class="filters">
            <div style="justify-content: space-between;" class='flex'>
                <h4>Filtros</h4>

                {% if perfil.tipo_player == "Ambos" or perfil.tipo_player == "Mestre" %}
                <a style="all: unset; cursor: pointer; text-decoration: none; color: white; font-weight: bold; font-size: 1.4rem;" href="{% url 'criarCampanhas' %}">Crie suas próprias mesas</a>
                {% endif %}
            </div>
            <div class="filter-box flex">
            <div class="filter">
                <h3>Sistema</h3>
                <select name="sistema" id="sistema">
                    <option value="">Todos</option>
                    <option value="Dungeons & Dragons">Dungeons & Dragons</option>
                    <option value="Ordem Paranormal">Ordem Paranormal</option>
                    <option value="Tormenta20">Tormenta20</option>
                    <option value="Call of Cthulu">Call of Cthulu</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <div class="filter">
                <h3>Ambiente</h3>
                <select name="ambiente" id="ambiente">
                    <option value="">Todos</option>
                    <option value="Online">Online</option>
                    <option value="Presencial">Presencial</option>
                </select>
            </div>
            <div class="filter">
                <h3>Gênero</h3>
                <select name="genero" id="genero">
                    <option value="">Todos</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Comédia">Comédia</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasia">Fantasia</option>
                    <option value="Histórico">Histórico</option>
                    <option value="Mistério">Mistério</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Terror">Terror</option>
                </select>
            </div>
            </div>

        </div>

        </div>
    </form>

  

    <div class="quests">
        
        {% if campanhas_e_grupos.items %}
            {% else %}
            <br>
                <h2>Nenhuma campanha encontrada.</h2>
        {% endif %}

        {% for campanha, grupos in campanhas_e_grupos.items %}
            <div class="quest">

                <div class="quest-header flex">

                <img src="{{ campanha.fotoCampanha.url }}" alt="">
                <div class="quest-info">
                    <h3><a href="{% url 'detalhes_campanha' campanha.id %}">{{ campanha.nomeCampanha }}</a></h3>
                    <h4>Mestre: <a href="{% url 'exibir_perfil' perfil_slug=campanha.nomeMestre.slug %}">{{ campanha.nomeMestre.nomePerfil.username }}</a></h4>
                    <h4>Sistema: <strong>{{ campanha.sistemaCampanha }}</strong></h4>
                </div>

                </div>

                <p id="text">{{ campanha.descricaoCampanha }}</p>

                <div class="quest-footer flex">
                <div class="stats-tags flex">
                    <div class="gender">
                    <p>{{ campanha.generoRPG }}</p>
                    </div>
                    <div class="envy">
                    <p>{{ campanha.ambienteCampanha }}</p>
                    </div>
                    <div class="qnt">
                    <p>Max player: {{ campanha.numeroJogadores }}</p>
                    </div>
                </div>

                <div class="play">
                    {% for grupo in grupos %}
                    <div id="{{ grupo.uuid }}">
                        {% if request.user in grupo.membros.all %}
                            <a href="{% url 'Abrir_chat_pub' uuid=grupo.uuid %}">Abrir</a>
                            {% if user != grupo.criador %}
                            /
                            <a href="{% url 'Sair_grupo' uuid=grupo.uuid %}">Sair</a>
                            {% endif %}
                            {% if user == grupo.criador %}
                                /
                                <a href="{% url 'Remover_grupo' uuid=grupo.uuid %}">Excluir</a>
                            {% endif %}
                            {% else %}
                            {% if grupo.envioSolicitacao == '0' %}
                                <a href="{% url 'enviar_solicitacao' campanha_id=campanha.id %}">Jogar</a>
                            {% else %}
                            <p>Solicitação enviada</p>
                            {% endif %}
                            {% endif %}
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.play a').forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); // Previne o comportamento padrão do link
                    const url = this.getAttribute('href');
        
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': getCookie('csrftoken') // Adiciona o token CSRF para segurança
                        },
                        body: new URLSearchParams({
                            'csrfmiddlewaretoken': getCookie('csrftoken') // Inclui o token CSRF no corpo da requisição
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'error') {
                            window.alert(data.message);
                        } else if (data.status === 'success') {
                            window.alert(data.message);
                            location.reload(); // Recarrega a página para atualizar o estado
                        }
                    })
                    .catch(error => {
                        window.alert('Ocorreu um erro ao enviar a solicitação.');
                        console.error('Error:', error);
                    });
                });
            });
        });
        
        // Função para obter o valor do cookie CSRF
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        </script>
    
{% endblock %}