{% extends 'principal/base.html' %}

{% block conteudo %}
<title>Tela Protegida - Baú do Mestre</title>


<h1>Você está na tela Protegida por login!</h1>

<img src="https://pic-bstarstatic.akamaized.net/ugc/30b06e585af06b2d6b84c765e4235d8f.jpg" alt=""> <br>


<a href='{% url 'home' %}'>Voltar a tela inicial</a> <br> <br>

{% if user.is_authenticated%}
{% else %}
<a href="{% url 'account_signup' %}">Cadastre-se</a> <br> <br>
<a href="{% url 'account_login' %}">Login</a>
{% endif %}

{% endblock conteudo %}
