{% extends 'principal/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/global-ia.css" %}" />
<link rel="stylesheet" href="{% static "css/responsivity.css" %}">
<link rel="stylesheet" href="{% static "css/perfil.css" %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=a Absolute Empire:wght@400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>

<style>
  .rectangle-div {
    background: linear-gradient(61deg, #8c0000ab -6.5%, #1691ded6 193.06%), url({% static "img/public/Background.svg" %});
  }
</style>

{% endblock %}

{% block conteudo %}

<div class="flex">
  <div class="user-header">
    <div class="header-background">
      <div class="rectangle-div flex">
        <img class="down-arrow-1-4" alt="" src="{% static "img/public/caret.svg" %}"/>
      <img class="vector-icon" alt="" src="{% static "img/public/report.svg" %}" />
      </div>
    </div>

    <div class="header-body">

      <div class="body-row flex">
        <div class="body-name flex">
          {% if perfil.fotoConta == 'Indefinido' %}
            <img class="image-50-icon" alt="Foto do usuário {{ user }}"  src="{% static "img/Ain.png" %}" />
          {% else %}
            <img class="image-50-icon" alt="Foto do usuário {{ user }}"  src="{{ perfil.fotoConta.url }}" />
          {% endif %}
          <b class="nome">{{ user }}</b>
          <p class="nvel-17">Nível: 01</p>
        </div>

        <div class="flex" id="header-piece">
          <div class="middle-stats flex">
            <div class="achieve flex">
              <div class="achieve-num flex">
                <b class="b">--</b>
                <img class="trophy-2-icon" alt="" src="{% static "img/public/trophy-2.svg" %}" />
              </div>
              <b class="conquistas">Conquistas</b>
            </div>
            <hr class="middle-column">
            <div class="friendship flex">
              <!-- ATENÇÃO !!!!!!!!!!!!!!!! FAZER A REQUISIÇÃO DE AMIGOS !!!!!!!!!!!!!!!!!-->
              <b class="b">22</b>
              <b class="amizades">Amizades</b>
            </div>
          </div>
          <button id="edit" class="adicionar flex">
            <a href="{% url 'editarconta' %}">
              <b id="editar" class="adicionar1">Editar</b>
              <img id="gear" class="create-group-button-2-1" alt="" src="{% static "img/public/gear.svg" %}"/>
            </a>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="user-body flex">
    <b>Descrição</b>
    <p class="desc-text">
      {{ perfil.descricao }}
    </p>
  </div>
  <div class="preferences flex">

    <b id="descrio">Preferencias</b>

    <div class="preference-stats flex">
      <div class="preference-stat">
        {% if perfil.tipo_sessao == "Online" %}
          <img class="rss-2-icon" alt="Chats simbolizando estilo de jogo online" src="{% static "img/public/mesa-online.svg" %}" />
        {% else %}
          <img class="rss-2-icon" alt="Dados de 20 lados simbolizando estilo de jogo presencial" src="{% static "img/public/mesa-presencial.svg" %}" />
        {% endif %}
        <b class="mesa-virtual">{{ perfil.tipo_sessao }}</b>
      </div>

      <div class="preference-stat">
        {% if perfil.tipo_player == "Jogador" %}
          <img class="ss-2-icon" alt="" src="{% static "img/public/player.svg" %}" />
        {% elif perfil.tipo_player == "Mestre" %}
        <img class="ss-2-icon" alt="" src="{% static "img/public/mestre.svg" %}" />
        {% else %}
          <img class="ss-2-icon" alt="" src="{% static "img/public/ambos.svg" %}" />
        {% endif %}
        
        <b class="mestrejogador">{{ perfil.tipo_player }}</b>
      </div>

      <div class="preference-stat">
        {% if perfil.sistema_rpg == "Dungeons & Dragons"%}
          <img class="dnd-2-icon" alt="Imagem representando Dungeon and Dragons" src="{% static "img/public/dnd.svg" %}" />
        {% elif perfil.sistema_rpg == "Tormenta20" %}
          <img class="dnd-2-icon" alt="Imagem representando Tormenta20" src="{% static "img/public/t20.svg" %}" />
        {% elif perfil.sistema_rpg == "Call of Cthulhu" %}
          <img class="dnd-2-icon" alt="Imagem representando Call of Cthulhu" src="{% static "img/public/coc.svg" %}" />
        {% elif perfil.sistema_rpg == "Ordem Paranormal" %}
          <img class="dnd-2-icon" alt="Imagem representando Ordem Paranormal" src="{% static "img/public/ordem.svg" %}" />
        {% else %}
          <img class="dnd-2-icon" alt="Imagem de um mapa representando Outros RPGs em geral" src="{% static "img/public/others.svg" %}" />
        {% endif %}
        <b class="dnd">{{ perfil.sistema_rpg }}</b>
      </div>
    </div>


  </div>
</div>

{% endblock conteudo %}
