{% extends 'principal/base.html' %}
{% load static %}

{% block conteudo %}
<title>Usuário - Baú do Mestre</title>
<h1>Você está na tela de conta do usuário!</h1>

<h1>Seja bem vindo, {{ user }}!<h1> <br> <br>

<h2>Foto de usuário:</h2>
{% if perfil.fotoConta == 'Indefinido' %}
<img src="{% static "img/Ain.png" %}" alt="Foto do usuário {{ user }}" width="250" height="250">

{% else %}
<img src="{{ perfil.fotoConta.url }}" alt="Foto do usuário {{ user }}" width="250" height="250">
{% endif %}

<h2>Descrição da conta:</h2>
<p>{{ perfil.descricao }}</p>

<h2>Sistema de RPG preferido:</h2>
<p>{{ perfil.sistema_rpg }}</p>

<h2>Tipo de sessão:</h2>
<p>{{ perfil.tipo_sessao }}</p>

<h2>Tipo de player:</h2>
<p>{{ perfil.tipo_player }}</p>

<a href="{% url 'listar_amigos' %}">Ver lista de amigos</a><br> <br>
<a href="{% url 'listar_solicitacoes' %}">Ver solicitações</a><br> <br>



{% if campanha.id %}
  <a href="{% url 'gerenciar_solicitacoes' campanha_id=campanha.id %}">Gerenciar solicitações de entrada</a>
{% else %}
  <!-- Lida com o caso em que não há campanha associada à solicitação -->
  Não há campanha associada
{% endif %}


<br> <br>

<a href="{% url 'meus_personagens' %}">Meus personagens</a>  <br> <br>
<a href="{% url 'index' %}">Voltar a tela inicial</a> <br> <br>
<a href="{% url 'editarconta' %}">Editar o perfil do usuário</a> <br> <br>

{% endblock conteudo %}
