{% load static %}
<div class="inventario-header flex">

    <h1 class="inventario">{{ pasta }}</h1>

    <h2>Envie quantos arquivos precisar!</h2>

    {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'info' %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endif %}
        {% endfor %}
    {% endif %}

    <div class="send-row flex">
        <div class="send-bar flex">
            <p>Selecione Arquivo</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.file }}
                <div class="arq-button">
                  <label for="id_file">ARQUIVO</label>
                </div>
            </div>
                <button style="cursor: pointer;" class="send-button flex" type="submit">Enviar</button>
            </form>
      </div>


        <div class="gallery flex">
            {% for file in files %}
                <div class="image-box">
                    <div class="box">
                        
                        {% if file.extensao in '.jpg .jpeg .png .gif' %}
                        <img src="{{ file.file.url }}" alt="{{ file.nome }}">
                    {% elif file.extensao in '.mp3, .wav, .ogg' %}
                    <img src="{% static 'img/public/music.svg' %}" alt="Music Icon">
                    {% elif file.extensao in '.pdf, .doc, .docx. .txt' %}
                    <img  src="{% static 'img/public/PDF.svg' %}" alt="" >
                    {% elif file.extensao in '.zip, .rar' %}
                        <img src="{% static 'img/public/archive.svg' %}" alt="">
                    {% else %}
                        <img src="{% static 'img/public/doc.svg' %}" alt="">
                    {% endif %}
                    </div>
                        <p>{{ file.nome }} <p/>
                   
                        <div class="manage">
                        <a href="{{ file.file.url }}" download><img src="{% static "img/public/download.svg" %}" alt=""></a>
                        <a href="{% url 'deletar_arquivo' file.id div file.pasta_id %}"><img src="{% static "img/public/thrash.svg" %}" alt=""></a>
                    </div>
                </div>
            {% endfor %}
        </div>


  </div>


e esse é para o formato de imagem