{% extends 'meus_personagens/base.html' %}

{% load static %}

{% block title %}
    Criação de personagem
{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'meus_personagens/fichadnd.css'%}"></link>
{% endblock %}

{% block content %}

<div class="fichas">
    <h1>Criação de Personagem</h1>
    <label>Escolha o sistema de RPG: </label>
    <select id="escolhaFormulario">
        <option value="--">--</option>
        <option value="DnD">Dungeons & Dragons</option>
        <option value="OrdemParanormal">Ordem Paranormal</option>
        <option value="Tormenta20">Tormenta20</option>
        <option value="CoC">Call of Cthulhu 7e (1920)</option>
    </select>


    <div id="formularioDnD" style="display: none;">
        {% include "meus_personagens/includes/dndform.html"%}
    </div>




    <div id="formularioOrdemParanormal" style="display: none;">
        {% include "meus_personagens/includes/ordemform.html"%}
    </div>




    <div id="formularioTormenta20" style="display: none;">
        {% include "meus_personagens/includes/tormentaform.html"%}
    </div>

    <div id="formularioCoC" style="display: none;">
        {% include "meus_personagens/includes/cocform.html"%}
    </div>
</div>


<script>
    const escolhaFormulario = document.getElementById('escolhaFormulario');
    const formularioDnD = document.getElementById('formularioDnD');
    const formularioOrdemParanormal = document.getElementById('formularioOrdemParanormal');
    const formularioTormenta20 = document.getElementById('formularioTormenta20');
    const formularioCoC= document.getElementById('formularioCoC');



    escolhaFormulario.addEventListener('change', function() {
        if (escolhaFormulario.value === 'DnD') {
            formularioDnD.style.display = 'block';
            formularioOrdemParanormal.style.display = 'none';
            formularioTormenta20.style.display = 'none';
            formularioCoC.style.display = 'none';


        } else if (escolhaFormulario.value === 'OrdemParanormal') {
            formularioDnD.style.display = 'none';
            formularioOrdemParanormal.style.display = 'block';
            formularioTormenta20.style.display = 'none';
            formularioCoC.style.display = 'none';

        }else if (escolhaFormulario.value === 'Tormenta20') {
            formularioDnD.style.display = 'none';
            formularioOrdemParanormal.style.display = 'none';
            formularioTormenta20.style.display = 'block';
            formularioCoC.style.display = 'none';

        }else if (escolhaFormulario.value === 'CoC') {
            formularioDnD.style.display = 'none';
            formularioOrdemParanormal.style.display = 'none';
            formularioTormenta20.style.display = 'none';
            formularioCoC.style.display = 'block';

        }
         else {
            formularioDnD.style.display = 'none';
            formularioOrdemParanormal.style.display = 'none';
            formularioTormenta20.style.display = 'none';
            formularioCoC.style.display = 'none';

        }
    });

</script>

{% endblock %}
