{% extends 'meus_personagens/base.html' %}

{% block title %}
    {{user}} - Listagem dos meus personagens
{% endblock %}

{% block content %}
    <h3><a href="{% url 'criacao_char' %}">Criar personagem</a></h3>
    <h1> Meus personagens </h1>
    
    <ul>
        <!-- Arrumar o ordem paranormal pois o link está sendo movido para ele também-->
        {% for personagem in dnd %}
            <li><a href="{% url 'detail_char_dnd' personagem.id %}">{{ personagem.nome }}</a> &nbsp &nbsp&nbsp<strong><a href="{% url 'edit_dnd' personagem.id %}">Editar</a></strong></li>
        {% endfor %}
        {% for personagem in ordem %}
            <li><a href="{% url 'detail_char_ordem' personagem.id %}">{{ personagem.nome }}</a> &nbsp &nbsp&nbsp<strong><a href="{% url 'edit_ordem' personagem.id %}">Editar</a></strong></li>
        {% endfor %}
        {% for personagem in tormenta20 %}
            <li><a href="{% url 'detail_char_tormenta' personagem.id %}">{{ personagem.nome }}</a> &nbsp &nbsp&nbsp<strong><a href="{% url 'edit_tormenta20' personagem.id %}">Editar</a></strong></li>
        {% endfor %}
        {% for personagem in coc %}
            <li><a href="{% url 'detail_char_coc' personagem.id %}">{{ personagem.nome }}</a> &nbsp &nbsp&nbsp<strong><a href="{% url 'edit_coc1920' personagem.id %}">Editar</a></strong></li>
        {% endfor %}
    </ul>
{% endblock %}

