{% extends 'meus_personagens/base.html' %}
{% load static %}

{% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Baú do Mestre</title> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/meusPersonagens.css" %}"/>
    <title>Buscar mesa - Baú do Mestre</title>
{% endblock %}

{% block content %}

<div class="mural-banner flex space-between">
    <div class="mural-leftColumn flex flex-column">
        <h1>Personagens</h1>
        <h3>Crie seu personagem ou brinque de Deus!</h3>
        <h3>Há: <strong>{{ count }} Fichas</strong> Disponíveis</h3>
    </div>

    <img src="{% static "img/muralDragon.svg" %}" alt="">

</div>

<form method="GET" class="search-form flex-column">
    <div class="search flex-column">
        <h4>Ou Busque Pelo Nome!</h4>
        <div class="searchbar">
            <div class="search-head flex">
                <input type="text" name="q" autocomplete="off" placeholder="Nome da Ficha">
                <button type="submit">
                    <img src="{% static "img/icons/Lupa.svg" %}" alt="Buscar">
                </button>
            </div>
        </div>
    </div>
</form>

    <div class="search-result flex">
        <div class="result-left flex-column">
            <h3>Resultado da Busca</h3>
            <p>Foram Encontradas: <strong>{{ count }} Fichas</strong> </p>
        </div>

        <div class="create-char">
                <button onclick="window.location.href = '{% url 'criacao_char' %}';">
                    <h4>Criar Ficha</h4>
                </button>
        </div>
    </div>

    <div class="horizontal-row"></div>

    <div class="personagens">

        {% include "principal/ficha.html" %}


    </div>

</div>
{% endblock %}

