{% load static %}

<form method="post" id="start_form" class="flex-column" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Box inicial dos dados do personagem -->
<div class="sheet_header flex">

    <div class="header-name flex-column">
        <h3>Nome:</h3>
        {{ dnd.nome }}

        <div class="screen-buttons flex">
            <button type="submit"><p>Salvar</p></button>
            <label for="{{ form.foto.id_for_label }}"></label>
            {{ dnd.foto }}
        </div>
    </div>

    <div class="header-specs flex-column">
        <div class="specs">
            <div class="spec-box">
                <p>Classe:</p>
                {{ dnd.classe }}
            </div>

            <div class="spec-box" id="sub_classe">
                <p>Sub-Classe:</p>
                {{ dnd.sub_classe }}
            </div>

            <div class="spec-box" id="nivel">
                <p>Nivel:</p>
                {{ dnd.nivel }}
            </div>
        </div>

        <div class="specs">
            <div class="spec-box">
                <p>Raça:</p>
                {{ dnd.raca }}
            </div>

            <div class="spec-box">
                <p>Sub Raça:</p>
                {{ dnd.sub_raca }}
            </div>

            <div class="spec-box">
                <p>XP:</p>
                {{ dnd.xp }}
            </div>
        </div>
    </div>

</div>

<div class="dnd-description flex">
    <!-- Box de atributos -->
    <div class="left-column flex-column">

        <div class="atributes-skills flex">

            <div class="atributos_box flex-column">
                <div class="atributo">
                    <div class="att-box">
                        <h4>Força</h4>
                        <p id="mod_forca">0</p>
                    </div>
                    {{ dnd.forca }}
                </div>
                <div class="atributo">
                    <div class="att-box">
                        <h4>Destreza</h4>
                        <p id="mod_dex">0</p>
                    </div>
                    {{ dnd.dex }}
                </div>
                <div class="atributo">
                    <div class="att-box">
                        <h4>Constituição</h4>
                        <p id="mod_const">0</p>
                    </div>
                    {{ dnd.const }}
                </div>
                <div class="atributo">
                    <div class="att-box">
                        <h4>Inteligência</h4>
                        <p id="mod_int">0</p>
                    </div>
                    {{ dnd.int }}
                </div>
                <div class="atributo">
                    <div class="att-box">
                        <h4>Sabedoria</h4>
                        <p id="mod_sab">0</p>
                    </div>
                    {{ dnd.sab }}
                </div>
                <div class="atributo">
                    <div class="att-box">
                        <h4>Carisma</h4>
                        <p id="mod_car">0</p>
                    </div>
                    {{ dnd.carisma }}
                </div>
            </div>

            <div class="skill-column flex-column">
                <div class="inspiration-box flex">
                    <div class="checkbox-box">{{ dnd.inspiracao }}</div>
                    <p>Inspiração</p>
                </div>
                <div class="proficiency flex">
                    <h4 id="bonusProf">0</h4>
                    <p>Bônus de proficiência</p>
                </div>
                <!-- Saving Throws -->
                <div class="salvaguarda_box flex-column">
                    <div class="savethrow">
                        {{ dnd.forcaSalvaguarda }}
                        <div class="savethrow-box">
                            <div class="skill-slot">
                                <p id="salva_for">0</p>
                            </div>
                            <p>Força</p>
                        </div>
                    </div>
                    <div class="savethrow">
                        {{ dnd.dexSalvaguarda }}
                        <div class="savethrow-box">
                            <p id="salva_dex">0</p>
                            <p>Destreza</p>
                        </div>
                    </div>
                    <div class="savethrow">
                        {{ dnd.constSalvaguarda }}
                        <div class="savethrow-box">
                            <p id="salva_const">0</p>
                            <p>Constituição</p>
                        </div>
                    </div>
                    <div class="savethrow">
                        {{ dnd.intSalvaguarda }}
                        <div class="savethrow-box">
                            <p id="salva_int">0</p>
                            <p>Inteligência</p>
                        </div>
                    </div>
                    <div class="savethrow">
                        {{ dnd.sabSalvaguarda }}
                        <div class="savethrow-box">
                            <p id="salva_sab">0</p>
                            <p>Sabedoria</p>
                        </div>
                    </div>
                    <div class="savethrow">
                        {{ dnd.carismaSalvaguarda }}
                        <div class="savethrow-box">
                            <p id="salva_car">0</p>
                            <p>Carisma</p>
                        </div>
                    </div>
                    <h5>SALVAGUARDA</h5>
                </div>
                <!-- Perícias -->
                <div class="pericias flex-column">
                    <div class="pericia">
                        {{ dnd.acrobacia }}
                        <div class="skill-slot">
                            <p id="mod_acrobacia">0</p>
                            <p>Acrobacia(Dex)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.adestrarAnimais }}
                        <div class="skill-slot">
                            <p id="mod_adestrarAnimais">0</p>
                            <p>Adestrar Animais(Sab)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.arcana }}
                        <div class="skill-slot">
                            <p id="mod_arcana">0</p>
                            <p>Arcana(Int)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.atletismo }}
                        <div class="skill-slot">
                            <p id="mod_atletismo">0</p>
                            <p>Atletismo(For)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.enganacao }}
                        <div class="skill-slot">
                            <p id="mod_enganacao">0</p>
                            <p>Enganação(Car)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.historia }}
                        <div class="skill-slot">
                            <p id="mod_historia">0</p>
                            <p>Historia(Int)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.intuicao }}
                        <div class="skill-slot">
                            <p id="mod_intuicao">0</p>
                            <p>Intuição(Sab)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.intimidacao }}
                        <div class="skill-slot">
                            <p id="mod_intimidacao">0</p>
                            <p>Intimidação(Car)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.investigacao }}
                        <div class="skill-slot">
                            <p id="mod_investigacao">0</p>
                            <p>Investigação(Int)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.medicina }}
                        <div class="skill-slot">
                            <p id="mod_medicina">0</p>
                            <p>Medicina(Sab)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.natureza }}
                        <div class="skill-slot">
                            <p id="mod_natruza">0</p>
                            <p>Natureza(Int)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.percepcao }}
                        <div class="skill-slot">
                            <p id="mod_percepcao">0</p>
                            <p>Percepção(Sab)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.atuacao }}
                        <div class="skill-slot">
                            <p id="mod_atuacao">0</p>
                            <p>Atuação(Car)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.persuasao }}
                        <div class="skill-slot">
                            <p id="mod_persuasao">0</p>
                            <p>Persuasão(Car)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.religiao }}
                        <div class="skill-slot">
                            <p id="mod_religiao">0</p>
                            <p>Religião(Int)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.prestigitacao }}
                        <div class="skill-slot">
                            <p id="mod_prestigitacao">0</p>
                            <p>Prestigitação(Dex)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.furtividade }}
                        <div class="skill-slot">
                            <p id="mod_furtividade">0</p>
                            <p>Furtividade(Dex)</p>
                        </div>
                    </div>
                    <div class="pericia">
                        {{ dnd.sobrevivencia }}
                        <div class="skill-slot">
                            <p id="mod_sobrevivencia">0</p>
                            <p>Sobrevivência(Sab)</p>
                        </div>
                    </div>
                    <h5>PERICIAS</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="middle-column flex-column">
        <div class="health-section flex-column">

            <div class="hit-box flex">
                <div class="stat-box">
                    {{ dnd.ca }}
                    <p>CA</p>
                </div>

                <div class="stat-box">
                    <p>INICIA</p>
                    <p id="iniciativa">0</p>
                </div>

                <div class="stat-box">
                    <p>MOVIME</p>
                    {{ dnd.movi }}
                </div>
            </div>

            <div class="health-total flex-column">
                <div class="hit-points flex">
                    <div class="vida flex-column">
                        <p>Vida</p>
                        {{ dnd.vida }}
                    </div>
                    <div class="vertical-line"></div>
                    <div class="vida flex-column">
                        <p>Temporária</p>
                        {{ dnd.vidaTemp }}
                    </div>
                </div>

                <div class="vida-max flex-column">
                    {{ dnd.hitDice }}
                    <select id=" {{ dnd.hitDiceType.id_for_label }}" name="{{ dnd.hitDiceType.name }}">
                        {% for value, label in dnd.hitDiceType.field.choices %}
                            <option value="{{ value }}" {% if dnd.hitDiceType.value == value %}selected{% endif %}>{{ label }}</option>>
                        {% endfor %}
                    </select>
                    <p>Vida Máxima</p>
                </div>

                <div class="death-save flex-column">
                    <div class="flex">
                        <p>Sucesso</p>
                        <div class="checkboxes flex">
                            {{ dnd.deathSucess1 }}
                            {{ dnd.deathSucess2 }}
                            {{ dnd.deathSucess3 }}
                        </div>
                    </div>

                    <div class="flex">
                        <p>Falha</p>
                        <div class="checkboxes flex">
                            {{ dnd.deathFailure1 }}
                            {{ dnd.deathFailure2 }}
                            {{ dnd.deathFailure3 }}
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="attack-box flex-column">
            <table class="flex-column">
                <tr id="head">
                    <td><p>Ataque</p></td>
                    <td><p>Bônus</p></td>
                    <td><p>Dano/Tipo</p></td>
                </tr>
                <tr>
                    <td class="input-attack">{{ dnd.nomeAtk1 }}</td>
                    <td class="input-attack">{{ dnd.bonusAtk1 }}</td>
                    <td class="input-attack">{{ dnd.danoTipoAtk1 }}</td>
                </tr>
                <tr>
                    <td class="input-attack">{{ dnd.nomeAtk2 }}</td>
                    <td class="input-attack">{{ dnd.bonusAtk2 }}</td>
                    <td class="input-attack">{{ dnd.danoTipoAtk2 }}</td>
                </tr>
                <tr>
                    <td class="input-attack">{{ dnd.nomeAtk3 }}</td>
                    <td class="input-attack">{{ dnd.bonusAtk3 }}</td>
                    <td class="input-attack">{{ dnd.danoTipoAtk3}}</td>
                </tr>
                <tr>
                    <td class="input-attack">{{ dnd.nomeAtk4 }}</td>
                    <td class="input-attack">{{ dnd.bonusAtk4 }}</td>
                    <td class="input-attack">{{ dnd.danoTipoAtk4}}</td>
                </tr>
                <tr>
                    <td class="input-attack">{{ dnd.nomeAtk5 }}</td>
                    <td class="input-attack">{{ dnd.bonusAtk5 }}</td>
                    <td class="input-attack">{{ dnd.danoTipoAtk5}}</td>
                </tr>
            </table>

            <p>ATAQUES</p>
        </div>

        <div class="inventory flex-column">
            <div class="dinheiro flex">
                <div class="money">
                    <p>PC</p>
                    {{ dnd.pc }}
                </div>

                <div class="money">
                    <p>PP</p>
                    {{ dnd.pp }}
                </div>

                <div class="money">
                    <p>PE</p>
                    {{ dnd.pe }}
                </div>

                <div class="money">
                    <p>PO</p>
                    {{ dnd.po }}
                </div>

                <div class="money">
                    <p>PL</p>
                    {{ dnd.pl }}
                </div>
            </div>

            <div class="horizontal-line"></div>

            <div class="inventario-box flex-column">
                <p>INVENTÁRIO</p>
                {{ dnd.inventario }}
            </div>
        </div>
    </div>

    <div class="right-column flex-column">
        <div class="caracteristicas flex-column">
            <div class="trait">
                {{ dnd.personalidade }}
                <p>Personalidade</p>
            </div>

            <div class="trait">
                {{ dnd.ideias }}
                <p>Ideais</p>
            </div>

            <div class="trait">
                {{ dnd.vinculos }}
                <p>Vínculos</p>
            </div>

            <div class="trait">
                {{ dnd.fraquezas }}
                <p>Fraquezas</p>
            </div>

            <div class="feats">
                    {{ dnd.caracteristicas }}
                    <p> Características</p>
            </div>

            <div class="proficiencySkill flex-column">
                <div class="proficiency-box flex-column">
                    <p>Proficiência em ferramentas</p>
                    {{ dnd.proficienciasFerramentas }}
                </div>
                <div class="proficiency-box flex-column">
                    <p>Proficiências e Linguagens</p>
                    {{ dnd.outrasProf_Linguagens }}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="proficiencySkill flex-column">
    <div class="proficiency-box flex-column" id="lore">
        <p>História de Personagem</p>
        {{dnd.lore}}
    </div>
</div>

<div class="horizontal-row"></div>

<div class="magias flex-column">
    <div class="modificadores flex">
        <h1>MAGIAS</h1>
        <div class="modifier flex-column">
            <p>Modificador Habilidade</p>
            {{ dnd.spellCasting }}
        </div>
        <div class="modifier flex-column">
            <p>Modificador Dificuldade</p>
            {{ dnd.spellDC }}
        </div>
        <div class="modifier flex-column">
            <p>Ataque Bonus</p>
            {{ dnd.spellAttackBonus }}
        </div>
    </div>

    <div class="slots flex">
        <div class="slot">
            <p>1° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo1QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo1Qte }}
                </div>
            </div>
            {{ dnd.circulo1 }}
        </div>

        <div class="slot">
            <p>2° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo2QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo2Qte }}
                </div>
            </div>
            {{ dnd.circulo2 }}
        </div>

        <div class="slot">
            <p>3° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo3QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo3Qte }}
                </div>
            </div>
            {{ dnd.circulo3 }}
        </div>

        <div class="slot">
            <p>4° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo4QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo4Qte }}
                </div>
            </div>
            {{ dnd.circulo4 }}
        </div>

        <div class="slot">
            <p>5° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo5QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo5Qte }}
                </div>
            </div>
            {{ dnd.circulo5 }}
        </div>

        <div class="slot">
            <p>6° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo6QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo6Qte }}
                </div>
            </div>
            {{ dnd.circulo6 }}
        </div>

        <div class="slot">
            <p>7° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo7QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo7Qte }}
                </div>
            </div>
            {{ dnd.circulo7 }}
        </div>

        <div class="slot">
            <p>8° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo8QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo8Qte }}
                </div>
            </div>
            {{ dnd.circulo8 }}
        </div>

        <div class="slot">
            <p>9° Nivel</p>
            <div class="horizontal-row"></div>
            <div class="slot-box">
                <div class="qnt">
                    <p>Max</p>
                    {{ dnd.circulo9QteMax }}
                </div>
                <div class="qnt">
                    <p>Quantidade</p>
                    {{ dnd.circulo9Qte }}
                </div>
            </div>
            {{ dnd.circulo9 }}
        </div>

    </div>

</div>
</form>

<script>
    var bonusProficiencia = 0;
    var modForca = 0;
    var modDex = 0;
    var modConst = 0;
    var modInt = 0;
    var modSab = 0;
    var modCar = 0;

        //Bonus Proficiencia
    const nivel = document.getElementById('id_nivel');
    const bonusProf = document.getElementById('bonusProf');

    nivel.addEventListener('input', function() {

       const valorNivel = parseInt(nivel.value);
       bonusProf.textContent = valorNivel;

        bonusProficiencia = Math.floor(2+((valorNivel - 1) /4));

        if(valorNivel != null && !isNaN(valorNivel)) {
            bonusProf.textContent = bonusProficiencia;
            calcularSalvaguardas();
            calcularProficiencias()
        } else {
            bonusProf.textContent = 0;
            bonusProficiencia = 0;
        }


    });

    //Calculando mods
    const forca = document.getElementById('id_forca');
    const forcaMod = document.getElementById('mod_forca');

    forca.addEventListener('input', function() {

    const valorForca = parseInt(forca.value);


     modForca = Math.floor((valorForca - 10) / 2);


     if(valorForca != null && !isNaN(valorForca)) {
        forcaMod.textContent = modForca;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        forcaMod.textContent = 0;
        modForca = 0;
     }
    });

    const dex = document.getElementById('id_dex');
    const dexMod = document.getElementById('mod_dex');

    dex.addEventListener('input', function() {

    const valorDex = parseInt(dex.value);


     modDex = Math.floor((valorDex - 10) / 2);


     if(valorDex != null && !isNaN(valorDex)) {
        dexMod.textContent = modDex;
        const iniciativa = document.getElementById('iniciativa');
        iniciativa.textContent = modDex;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        dexMod.textContent = 0;
        modDex = 0;
     }
    });

    const cons = document.getElementById('id_const');
    const constMod = document.getElementById('mod_const');

    cons.addEventListener('input', function() {

    const valorConst = parseInt(cons.value);


    modConst = Math.floor((valorConst - 10) / 2);


     if(valorConst != null && !isNaN(valorConst)) {
        constMod.textContent = modConst;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        constMod.textContent = 0;
        modConst = 0;
     }
    });

    const inte = document.getElementById('id_int');
    const intMod = document.getElementById('mod_int');

    inte.addEventListener('input', function() {

    const valorInt = parseInt(inte.value);


     modInt = Math.floor((valorInt - 10) / 2);


     if(valorInt != null && !isNaN(valorInt)) {
        intMod.textContent = modInt;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        intMod.textContent = 0;
        modInt = 0;
     }
    });


    const sab = document.getElementById('id_sab');
    const sabMod = document.getElementById('mod_sab');

    sab.addEventListener('input', function() {

    const valorSab = parseInt(sab.value);


     modSab = Math.floor((valorSab - 10) / 2);


     if(valorSab != null && !isNaN(valorSab)) {
        sabMod.textContent = modSab;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        sabMod.textContent = 0;
        modSab = 0
     }
    });

    const car = document.getElementById('id_carisma');
    const carMod = document.getElementById('mod_car');

    car.addEventListener('input', function() {

    const valorCar = parseInt(car.value);


     modCar = Math.floor((valorCar - 10) / 2);


     if(valorCar != null && !isNaN(valorCar)) {
        carMod.textContent = modCar;
        calcularSalvaguardas();
        calcularProficiencias()
     } else {
        carMod.textContent = 0;
        modCar = 0;
     }
    });



    const checkFor = document.getElementById('id_forcaSalvaguarda');
    const checkDex = document.getElementById('id_dexSalvaguarda');
    const checkConst = document.getElementById('id_constSalvaguarda');
    const checkInt = document.getElementById('id_intSalvaguarda');
    const checkSab = document.getElementById('id_sabSalvaguarda');
    const checkCar = document.getElementById('id_carismaSalvaguarda');


    function calcularSalvaguardas(){

        const modSalvaFor = document.getElementById('salva_for');
        const modSalvaDex = document.getElementById('salva_dex');
        const modSalvaConst = document.getElementById('salva_const');
        const modSalvaInt = document.getElementById('salva_int');
        const modSalvaSab = document.getElementById('salva_sab');
        const modSalvaCar = document.getElementById('salva_car');


        //Força
        if(checkFor.checked){
            modSalvaFor.textContent = modForca + bonusProficiencia;
        } else {
            modSalvaFor.textContent = modForca;
        }

        //Destreza
        if(checkDex.checked){
            modSalvaDex.textContent = modDex + bonusProficiencia;
        } else {
            modSalvaDex.textContent = modDex;
        }

        //Constituição
        if(checkConst.checked){
            modSalvaConst.textContent = modConst + bonusProficiencia;
        } else {
            modSalvaConst.textContent = modConst;
        }

        //Inteligência
        if(checkInt.checked){
            modSalvaInt.textContent = modInt + bonusProficiencia;
        } else {
            modSalvaInt.textContent = modInt;
        }

        //Sabedoria
        if(checkSab.checked){
            modSalvaSab.textContent = modSab + bonusProficiencia;
        } else {
            modSalvaSab.textContent = modSab;
        }

        //Carisma
        if(checkCar.checked){
            modSalvaCar.textContent = modCar + bonusProficiencia;
        } else {
            modSalvaCar.textContent = modCar;
        }
    }


    const acrobacia = document.getElementById('id_acrobacia');
    const adestrarAnimais = document.getElementById('id_adestrarAnimais');
    const arcana = document.getElementById('id_arcana');
    const atletismo = document.getElementById('id_atletismo');
    const enganacao = document.getElementById('id_enganacao');
    const historia = document.getElementById('id_historia');
    const intuicao = document.getElementById('id_intuicao');
    const intimidacao = document.getElementById('id_intimidacao');
    const investigacao = document.getElementById('id_investigacao');
    const medicina = document.getElementById('id_medicina');
    const natureza = document.getElementById('id_natureza');
    const percepcao = document.getElementById('id_percepcao');
    const atuacao = document.getElementById('id_atuacao');
    const persuasao = document.getElementById('id_persuasao');
    const religiao = document.getElementById('id_religiao');
    const prestigitacao = document.getElementById('id_prestigitacao');
    const furtividade = document.getElementById('id_furtividade');
    const sobrevivencia = document.getElementById('id_sobrevivencia');


    function calcularProficiencias(){
        const modAcrobacia = document.getElementById('mod_acrobacia');
        const modAdestrarAnimais = document.getElementById('mod_adestrarAnimais');
        const modArcana = document.getElementById('mod_arcana');
        const modAtletismo = document.getElementById('mod_atletismo');
        const modEnganacao = document.getElementById('mod_enganacao');
        const modHistoria = document.getElementById('mod_historia');
        const modIntuicao = document.getElementById('mod_intuicao');
        const modIntimidacao = document.getElementById('mod_intimidacao');
        const modInvestigacao = document.getElementById('mod_investigacao');
        const modMedicina = document.getElementById('mod_medicina');
        const modNatureza = document.getElementById('mod_natruza');
        const modPercepcao = document.getElementById('mod_percepcao');
        const modAtuacao = document.getElementById('mod_atuacao');
        const modPersuasao = document.getElementById('mod_persuasao');
        const modReligiao = document.getElementById('mod_religiao');
        const modPrestigitacao = document.getElementById('mod_prestigitacao');
        const modFurtividade = document.getElementById('mod_furtividade');
        const modSobrevivencia = document.getElementById('mod_sobrevivencia');


        //Acrobacia
        if(acrobacia.checked){
            modAcrobacia.textContent = modDex + bonusProficiencia;
        } else {
            modAcrobacia.textContent = modDex;
        }
        //Adestrar Animais
        if(adestrarAnimais.checked){
            modAdestrarAnimais.textContent = modSab + bonusProficiencia;
        } else {
            modAdestrarAnimais.textContent = modSab;
        }
        // Arcana
        if(arcana.checked){
            modArcana.textContent = modInt + bonusProficiencia;
        } else {
            modArcana.textContent = modInt;
        }
        //Atletismo
        if(atletismo.checked){
            modAtletismo.textContent = modForca + bonusProficiencia;
        } else {
            modAtletismo.textContent = modForca;
        }
        //Enganação
        if(enganacao.checked){
            modEnganacao.textContent = modCar + bonusProficiencia;
        } else {
            modEnganacao.textContent = modCar;
        }
        //Historia
        if(historia.checked){
            modHistoria.textContent = modInt + bonusProficiencia;
        } else {
            modHistoria.textContent = modInt;
        }
        //Intuição
        if(intuicao.checked){
            modIntuicao.textContent = modSab + bonusProficiencia;
        } else {
            modIntuicao.textContent = modSab;
        }
        //Intimidação
        if(intimidacao.checked){
            modIntimidacao.textContent = modCar + bonusProficiencia;
        } else {
            modIntimidacao.textContent = modCar;
        }
        //Investigação
        if(investigacao.checked){
            modInvestigacao.textContent = modInt + bonusProficiencia;
        } else {
            modInvestigacao.textContent = modInt;
        }
        //Medicina
        if(medicina.checked){
            modMedicina.textContent = modSab + bonusProficiencia;
        } else {
            modMedicina.textContent = modSab;
        }
        //Natureza
        if(natureza.checked){
            modNatureza.textContent = modInt + bonusProficiencia;
        } else {
            modNatureza.textContent = modInt;
        }
        //Percepção
        if(percepcao.checked){
            modPercepcao.textContent = modSab + bonusProficiencia;
        } else {
            modPercepcao.textContent = modSab;
        }
        //Atuação
        if(atuacao.checked){
            modAtuacao.textContent = modCar + bonusProficiencia;
        } else {
            modAtuacao.textContent = modCar;
        }
        //Persuasão
        if(persuasao.checked){
            modPersuasao.textContent = modCar + bonusProficiencia;
        } else {
            modPersuasao.textContent = modCar;
        }
        //Religião
        if(religiao.checked){
            modReligiao.textContent = modInt + bonusProficiencia;
        } else {
            modReligiao.textContent = modInt;
        }
        //Prestigitação
        if(prestigitacao.checked){
            modPrestigitacao.textContent = modDex + bonusProficiencia;
        } else {
            modPrestigitacao.textContent = modDex;
        }
        //Furtividade
        if(furtividade.checked){
            modFurtividade.textContent = modDex + bonusProficiencia;
        } else {
            modFurtividade.textContent = modDex;
        }
        //Sobrevivencia
        if(sobrevivencia.checked){
            modSobrevivencia.textContent = modSab + bonusProficiencia;
        } else {
            modSobrevivencia.textContent = modSab;
        }
    }

    acrobacia.addEventListener("change", calcularProficiencias);
    adestrarAnimais.addEventListener("change", calcularProficiencias);
    arcana.addEventListener("change", calcularProficiencias);
    atletismo.addEventListener("change", calcularProficiencias);
    enganacao.addEventListener("change", calcularProficiencias);
    historia.addEventListener("change", calcularProficiencias);
    intuicao.addEventListener("change", calcularProficiencias);
    intimidacao.addEventListener("change", calcularProficiencias);
    investigacao.addEventListener("change", calcularProficiencias);
    medicina.addEventListener("change", calcularProficiencias);
    natureza.addEventListener("change", calcularProficiencias);
    percepcao.addEventListener("change", calcularProficiencias);
    atuacao.addEventListener("change", calcularProficiencias);
    persuasao.addEventListener("change", calcularProficiencias);
    religiao.addEventListener("change", calcularProficiencias);
    prestigitacao.addEventListener("change", calcularProficiencias);
    furtividade.addEventListener("change", calcularProficiencias);
    sobrevivencia.addEventListener("change", calcularProficiencias);


    checkFor.addEventListener("change", calcularSalvaguardas);
    checkDex.addEventListener("change", calcularSalvaguardas);
    checkConst.addEventListener("change", calcularSalvaguardas);
    checkInt.addEventListener("change", calcularSalvaguardas);
    checkSab.addEventListener("change", calcularSalvaguardas);
    checkCar.addEventListener("change", calcularSalvaguardas);

    calcularSalvaguardas();
    calcularProficiencias()

    function runAllCalculations() {
        nivel.dispatchEvent(new Event('input'));
        forca.dispatchEvent(new Event('input'));
        dex.dispatchEvent(new Event('input'));
        cons.dispatchEvent(new Event('input'));
        inte.dispatchEvent(new Event('input'));
        sab.dispatchEvent(new Event('input'));
        car.dispatchEvent(new Event('input'));
        calcularSalvaguardas();
        calcularProficiencias();
    }

    window.addEventListener('load', runAllCalculations);
</script>


