{% load static %}
<nav class="flex">

    <img src="{% static "img/icons/Logo-Ain.svg" %}" alt="">

    <div class="nav-buttons flex">
        <div class="flex">
          <p><a href="{% url 'index' %}">Home</a></p>
          <p><a href="{% url 'inventarioRedirect' %}">Inventário</a></p>
          <p><a href="{% url 'buscarmesa' %}">Campanhas</a></p>
          <p><a href="{% url 'listar_amigos' %}">Social</a></p>
          <p><a href="{% url 'meus_personagens' %}">Personagens</a></p>
        </div>

        <button id="logoff">
          <p><a href="{% url 'account_logout' %}">Sair</a></p>
        </button>
    </div>

    {% if fotoConta != "Indefinido" %}
    <a style="cursor: pointer;" href="{% url 'usuario' %}"><img style="border-radius: 100%;" class="navbar-icon" alt="" src="{{ fotoConta.url }}" /></a>
    {% else %}
        <a style="all: unset; cursor: pointer;" href="{% url 'usuario' %}"><img style="border-radius: 100%;" class="navbar-icon" alt="" src="{% static "img/ain.png" %}" /></a>
    {% endif %}

  </nav>
