{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/meusPersonagens.css" %}"/>
    <title>Baú do Mestre</title>
{% endblock %}

{% block dashboard %}

<body class="flex" id="dashboard-otimized">

  <main class="main-page flex">

    <div class="dashboard-otimized-item flex">
      <div class="info-box">

        <div class="bem-vindo-jogador-container2">
          <span class="nivel-txt flex">
            <span>BEM VINDO </span>
            <span class="jogador1">JOGADOR</span>
          </span>
        </div>

      </div>
      <p class="qual-a-aventura">Qual a aventura de hoje?</p>
      <p class="encontre-histrias-incrveis">Encontre histórias incríveis</p>

    </div>
  </main>

  <div class="quests">
    <div class="quests1 flex">
      <h3>Quests</h3>
      <img class="vector-icon12" alt="" src="../public/vector11.svg" />
    </div>

    <div class="mesas flex">
      <div class="vector-group">
        <div class="frame-child3 flex">
          <img class="image-49-icon" alt="" src="../public/image-49@2x.png" />
          <p class="the-dragoon-hunters">The Dragoon Hunters</p>
        </div>
        <div class="text-box flex">
          <p class="lorem-ipsum-dolor3" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
          tincidunt turpis. Vivamus felis nunc, feugiat in efficitur quis,
          bibendum faucibus mauris. Nullam egestas ultricies urna. Maecenas
          ornare a erat aliquam porta.</p>

          <div class="icons flex">
            <div class="icon-box flex">
              <img class="vector-icon" alt="" src="../public/vector12.svg"/>
              <i class="type-text">Campanha Online</i>
            </div>
            <div class="icon-box flex">
              <img class="vector-icon" alt="" src="../public/vector13.svg" />
              <i class="type-text">Fantasia Medieval</i>
            </div>
            <div class="icon-box flex">
              <img class="vector-icon" alt="" src="../public/2662663967-dungeonsanddragonspng-11@2x.png"/>
              <i class="type-text">Dungeons and Dragons 5E</i>
            </div>
          </div>
          <p class="grupo-56">Grupo: 5/6</p>
        </div>
        <div class="box-buttons flex">
          <div class="frame-child7">
            <p class="button-text">Veja Mais...</p>
          </div>
          <div class="frame-child8">
            <p class="button-text jogar">JOGAR</p>
          </div>
        </div>
      </div>
    </div>

      <div class="button-child flex">
        <b class="veja-mais3">Veja Mais</b>
      <img class="down-arrow-1-43" alt="" src="../public/downarrow-1-42@2x.png"/>
      </div>
  </div>

  <div class="personagens1 flex">
    <div class="character-header flex">
      <div class="personagens2">personagens</div>
      <img class="vector-icon12" alt="" src="../public/vector10.svg" />
    </div>

    <div class="char-carroussel flex">
      <div class="vector-parent">
        <div class="frame-inner">
          <div class="frame-child3 character-banner">
            <p class="kharthaisen1 the-dragoon-hunters">Kharthaisen</p>
          </div>
        </div>
        <p class="lorem-ipsum-dolor2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
          tincidunt turpis. Vivamus felis nunc, feugiat in efficitur quis,
          bibendum faucibus mauris. Nullam egestas ultricies urna. Maecenas
          ornare a erat aliquam porta.</p>
        <div class="frame-body flex">
          <div class="left-column">
            <div class="main-caracteristics flex">
              <div class="characteristic">
                <div class="char">Raça</div>
                <hr class="line-div">
                <p class="atr">Elfo</p>
              </div>
              <div class="characteristic">
                <div class="char">Alinhamento</div>
                <hr class="line-div">
                <p class="atr">Caótico Bom</p>
              </div>
              <div class="characteristic">
                <div class="char">Classe</div>
                <hr class="line-div">
                <p class="atr">Espadachim</p>
              </div>
            </div>
          </div>
          <div class="right-column flex">
            <img class="frame-child6" alt="" src="../public/vector-17.svg" />
            <div class="nivel3">
              <span class="nivel-txt">
                <p class="p">10</p>
                <p class="nivel4">Nivel</p>
              </span>
            </div>
          </div>
        </div>
        <div class="frame-footer flex">
          <div class="footer-icons flex">
            <img class="frame-icon3 footer-icon" alt="" src="../public/frame1.svg" />
            <img class="dungeons-and-dragons-png-1-icon footer-icon" alt="" src="../public/2662663967-dungeonsanddragonspng-1@2x.png"/>
          </div>
          <div class="frame6 flex">
            <b class="abrir">ABRIR</b>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <div class="button-child flex">
        <b class="veja-mais3">Veja Mais</b>
        <img class="down-arrow-1-43" alt="" src="../public/downarrow-1-42@2x.png"/>
    </div>
    </div>
  </div>

</body>
</html>

<script>
function openSide(){
  document.getElementById("sidebar").style.left = "0"
}
function closeSide(){
  document.getElementById("sidebar").style.left = "-500px"
}
</script>

{% endblock %}

