/* Start header */
* {
  margin: 0;
  text-decoration: none;
  color: inherit;
  outline: none;
}

h1{
  font-size: 2.5rem;
}

body {
  background: linear-gradient(168.9deg, #000, rgba(53, 51, 51, 0.5));
  overflow: hidden;
  text-align: center;
  font-size: var(--title-13-size);
  color: var(--color-white);
  font-family: var(--body);
  display: flex;
  flex-direction: column;
  height: 100vh;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  width: 99.1%;
  position: absolute;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.site-logo p {
  font-family: var(--header-12);
  font-size: clamp(16px, 3vw, 3rem);
}

.bau-icon{
  width: 6vw;
  height: 5.5vw;
}

.cadastro-inner {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  opacity: 0.7;
  mix-blend-mode: normal;
}

.cadastro-inner:hover{
  transition: 0.5s;
  background-color: var(--color-white);
  color: black;
  font-weight: 500;
}

.cadastro-inner > p {
  padding: 1vh 6vw;
  cursor: pointer;
}

/* End header */

.register-box {
align-items: flex-start;
gap: 0;
}

.bau-do-mestre {
  margin: 0;
}

.aside-register {
  flex-direction: column;
  margin: 12% 0 0 3vh;
}

#login {
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  width: 48%;
  gap: 4vh;
}

.aside-register h1 {
  font-size: clamp(35px, 4vw, 120px);
}

.registers{
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}

.registers .signup{
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.data-box{
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  padding: 0.5rem;
  width: 36.5vw;
  justify-content: flex-start;
}

.nome-de-usurio-container{
  width: 100%;
}

#login-register {
  font-size: clamp(12px, 3vh, 240px);
}

#remember {
  width: auto;
}

#remember input {
  width: 1.5rem;
}

.nome-de-usurio-container input{
  background: transparent;
    border: none;
    height: 2rem;
    width: 100%;
    outline: none;
    font-size: var(--title-13-size);
    font-family: 'Raleway';
}
.nome-de-usurio-container input::placeholder{
  color: white;
}

.cadastro-child {
  border-radius: var(--br-xl);
  background-color: var(--dragonblood);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.4rem 1.5rem;
  opacity: 0.7;
  justify-content: center;
}

.cadastro-child:hover{
  transition: 0.5s;
  background-color: var(--color-darkred);
}

.confirmar {
  line-height: 35px;
  border: 0;
  font-weight: bold;
  font-family: Raleway;
  font-size: 1rem;
}

.aside-image {
  width: 50vw;
    justify-content: start;
    align-items: self-end;
    gap: 0;
}

.image-53-icon {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.cadastro-item {
  top: 611px;
  background-color: var(--color-gainsboro-200);
  backdrop-filter: blur(13px);
  height: 248px;
}

.a-batalha-final {
  font-size: var(--font-size-17xl);
    font-weight: 900;
    font-family: var(--subtitle-22);
    position: absolute;
    letter-spacing: -0.02em;
    background-color: #a6a6a61a;
    backdrop-filter: blur(10px);
    height: 30%;
}

.a-batalha-final p {
  font-size: 2.7vw;
  padding: 0 1vw;
}

@media (max-width: 795px) {
  .register-box {
    display: flex;
    justify-content: center;
  }

  .register-box .aside-register{
    margin: 17vh 0 0 0;
    position: fixed;
    width: 85%;
    padding: 1.5rem;
    background-color: #606060e8;
    border-radius: 15px;
    backdrop-filter: blur(20px);
  }

  #login {
    height: auto;
    justify-content: normal;
    margin-top: 20%;
    width: 80%;
  }

  .data-box {
    width: 100%;
  }

  .register-box .aside-image {
    width: 100%;
  }

  .a-batalha-final p {
    display: none;
  }
}

@media (max-width: 610px){
  .site-logo p {
    display: none;
  }

  .bau-icon {
    width: 11vw;
    height: 9.5vw;
  }
}
