/* Start header */
body {
  background: linear-gradient(168.9deg, #000, rgba(53, 51, 51, 0.5));
  text-align: center;
}

.left-column {
  height: 100%;
}

.left-column .logo {

}

.right-column {
  height: 100%;
}

