body {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
}

.mural-banner {
  background: linear-gradient(0.7turn, #000000 -70%, #5B5C84 257%);
}

.mural-banner .mural-leftColumn {
  gap: 3.5rem;
  padding: 2rem 0 2rem 2rem;
}

.mural-banner .mural-leftColumn h1 {
  font-size: var(--title-82);
}

.mural-banner .mural-leftColumn h3 {
  font-size: 36px;
  font-weight: normal;
  width: 90%;
}

.filter-box {
  background-color: #011126;
  width: 93%;
  border-radius: 15px;
  align-self: center;
  padding: 1.8rem;
  justify-content: space-between;
  text-align: center;
}

.filter-box select {
  all: unset;
  background-color: white;
  color: black;
}

.filter-selec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.vertical-row {
  width: 5px;
  background-color: white;
}

.search-form {
  gap: 3rem;
  margin: 36px 0 60px 0;
}

.search-form h4 {
  text-align: center;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.search-head {
  height: 4rem;
  width: 95%;
  justify-content: center;
  gap: 2rem;
}

.search-head input{
  all: unset;
  border-radius: 15px;
  background: linear-gradient(120deg, #080808 -37.01%, rgba(53, 53, 53, 0.00) 165.9%), #767676;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width:  50%;
  font-size: 2rem;
  font-family: var(--poppins);
  padding-left: .8rem;
  color: white;
}

.search-head button {
  all: unset;
  border-radius: 5px;
  background: var(--red1);
  text-align: center;
  cursor: pointer;
  padding: 5px 1rem;
}

.search-result {
  justify-content: space-between;
  padding: 0 50px;
}

.search-result .result-left{
  gap: 10px;
}

.search-result .result-left p {
  font-size: var(--logo);
}

.search-result .create-quest button {
  background-color: var(--red1);
  padding: 2rem 3rem;
  border-radius: 15px;
  cursor: pointer;
}

.horizontal-row {
  background: radial-gradient(#FFFFFF 10%, #505050);
  width: 93%;
  height: 5px;
  align-self: center;
  margin-top: 2rem;
}

.quests {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.quest {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, #8C0000, #1F2236);
  z-index: 1;
  width: 400px;
}

.quest::before {
  content: "";
  position: absolute;
  background-color: #18181C;
  width: 99%;
  height: 99%;
  z-index: -1;
  border-radius: 10px;
}

.quest .quest-header {
  position: relative;
  height: 180px;
  background-size: cover;
}

.quest .quest-header img {
  width: 100%;
  height: 100%;
}

.quest .quest-header .desc-bar {
  position: absolute;
  bottom: 0;
  width: 98%;
  justify-content: end;
  gap: 5px;
  background: linear-gradient(270deg, #201353 0%, #55090F 59%, #D00000 100%);
}

.quest a {
  text-decoration: none;
  color: white;
}

.quest #text {
  margin-bottom: 1rem;
  font-size: clamp(14px, 1.8vw, 18px);
    width: 95%;
    font-weight: 600;
}

.quest-info {
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: start;
    gap: 0.3rem;
}

.quest-info h3 {
  font-size: clamp(20px, 3.4vw, 40px);
}

.quest-info h4 {
  font-size: clamp(.9rem, 2vw, 1rem);
  color: #9A9A9A;
}

.quest-footer {
  justify-content: space-between;
  align-items: start;
  width: 95%;
  margin-bottom: 1rem;
}

.stats-tags {
  width: 40%;
  justify-content: space-between;
}

.stats-tags div {
  background: var(--DarkRed, #760D21);
  padding: .5rem;
  font-weight: bold;
  text-align: center;
}

.stats-tags div:nth-of-type(1), .stats-tags div:nth-of-type(2){
  width: 30%;
}

.play {
  border-radius: 5px;
  background: var(--MudBase, #A8233C);
  font-weight: bold;
  padding: .8rem 2rem;
  font-size: 2rem;
}

.noneCampanha {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  color: white;
}
