body {
  gap: 80px;
}

.homeHeader {
  padding-top: 10%;
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.homeBanner {
width: 100%;
border-radius: 15px;
padding: 5rem 0;
align-items: center;
gap: 16px;
}

.homeBanner h1 {
  font-family: var(--Inter);
  font-weight: bold;
}

.homeBanner .hr {
  height: 3px;
  width: 65%;
  background-color: white;
}

.homeBanner strong {
  color: #BE0B05;
}

.box-title {
  width: 95%;
  align-self: center;
  gap: 1rem;
}

.box-header {
  justify-content: space-between;
}

.box-header button {
  background-color: #8C0000;
  border-radius: 10px;
  padding: 0 30px;
  cursor: pointer;
}

.quest-box {
  overflow: auto;
    gap: 30px;
    padding-bottom: 30px;
}

::-webkit-scrollbar {
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #535353;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.quest {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, #8C0000, #1F2236);
  z-index: 1;
  min-width: 400px;
}

.quest::before {
  content: "";
    position: absolute;
    background-color: #18181C;
    width: 98%;
    height: 98%;
    z-index: -1;
    border-radius: 10px;
    margin: 5px;
}

.quest .quest-header {
  position: relative;
  height: 180px;
  background-size: cover;
  margin: 5px 4px;
  border-radius: 10px 10px 0px 0;
}

.quest .quest-header img {
  width: 100%;
  height: 100%;
}

.quest .quest-header .desc-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: end;
  gap: 5px;
  background: linear-gradient(270deg, rgb(32 19 83 / 34%) 0%, rgb(85 9 15 / 34%) 59%, rgb(208 0 0 / 34%) 100%);
}

.quest-header .desc-bar .desc-tag {
  margin: 7px 5px;
  padding: 5px 10px;
  border-radius: 35px;
  background-color: #1a00009a;
  border: #8C00005e 1px solid;

}

.quest-body {
  margin: 15px 10px;
}

.quest-body .quest-title {
  justify-content: space-between;
  margin: 0 10px;
}

.quest-body .quest-title > p {
  font-size: var(--text-20);
  font-weight: bold;
}

.quest-body .quest-title button {
  background: var(--red1);
  padding: 6px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.quest-body .quest-title button a {
  text-decoration: none;
}

.quest-title p > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.divison-row {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}

.quest-desc {
  gap: 2rem;
}

.quest-desc #text {
  margin: 0 14px 1rem 14px;
  font-weight: 500;
}

.quest-desc .quest-tags {
  gap: 10px;
  margin-left: 8px;
}

.quest-desc .quest-tags .tag {
  background-color: var(--red1);
  border-radius: 35px;
  padding: 9px 12px;
  font-weight: bold;
}

.boxHr {
  width: 100%;
  height: 3px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(80, 80, 80, 1));
}

.fichas {
  width: 95%;
  align-self: center;
}

.ficha-box {
  gap: 20px;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 26px;
}

.ficha {
  width: 100%;
  background-color: #2F0B0B;
  border: #8C0000 3px solid;
  border-radius: 15px;
  height: 250px;
  justify-content: space-between;
}

.ficha .ficha-head{
  width: 18%;
}

.ficha-head img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.ficha-body {
  width: 80%;
  gap: 10px;
}

.ficha-title {
  justify-content: space-between;
  align-items: center;
}

.ficha-title > p {
  font-size: var(--title-48);
  font-weight: bold;
  font-family: var(--poppins);
}

.ficha-title span {
  font-size: var(--subtitle-25);
  font-family: var(--Alata);
  padding: 0 1rem;
  gap: .5rem;
  font-weight: bold;
}

.hr {
  height: 2px;
  background-color: #ffffff;
}

.ficha-desc {
  height: 62%;
  justify-content: space-between;
}

.ficha-left {
  width: 85%;
  gap: 10px;
}

.ficha-left > p {
  height: 65%;
  text-align: justify;
}

.ficha-tags {
  gap: 15px;
}

.ficha-tag {
  background-color: var(--red1);
  border-radius: 35px;
  padding: 5px 23px;
  font-weight: bold;
}

.ficha-right {
  gap: 20px;
  padding-right: 11px;
}

.ficha-right > button {
  padding: 10px 12px;
  background-color: var(--red1);
  border-radius: 15px;
  font-weight: bold;
}
