#start_form {
    gap: 20px;
}

.dnd-body {
    padding: 7rem 20px 0 20px;
    background-color: #1F1F1F;
}

.dnd-body input {
    all: unset;
    font-family: var(--Inter);
    color: white;
    font-size: 20px;
    background-color: #232323ad;
    border-radius: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1F1F1F inset; /* Remove a cor de fundo */
      box-shadow: 0 0 0px 1000px #1F1F1F inset;
      -webkit-text-fill-color: white; /* Define a cor do texto */
  }

.sheet_header {
    justify-content: space-between;
}

.sheet_header .header-name {
    justify-content: space-around;
}

.sheet_header .header-name h3{
    color: #DF0101;
}

.sheet_header .header-name input {
    font-size: 52px;
    font-weight: bold;
    width: 450px;
}

.screen-buttons {
    gap: 1rem;
}

.screen-buttons button {
    background-color: var(--red1);
    padding: 1px 6px;
    font-size: 28px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.screen-buttons button p {
    font-family: var(--Inter);
}

.header-specs {
    justify-content: space-between;
    width: 50%;
    gap: 1rem;
}

.specs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.spec-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
}

#sub_classe {
    width: 40%;
}

#nivel {
    width: 12%;
    text-align: center;
}

#nivel input {
    text-align: end;
}

.spec-box p {
    font-size: 32px;
    color: #A8A8A8;
    font-weight: bold;
    font-family: var(--Inter);
}

.spec-box input {
    width: 90%;
    padding: 5px;
}

.dnd-description {
    gap: 26px;
}

.left-column {
    gap: 20px;
}

.dnd-description .atributes-skills {
    gap: 26px;
}

.atributos_box {
    width: 150px;
    gap: 50px;
}


.atributos_box .atributo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    height: 140px;
}

.atributo .att-box {
    background-color: #353535;
    border-radius: 15px;
    width: 100%;
    height: 75%;
    padding: 10px 0;
}

.atributos_box .atributo h4 {
    font-family: 'Vidaloka';
    font-weight: normal;
    font-size: 24px;
}

.atributos_box .atributo p {
    font-family: var(--Inter);
    font-size: 50px;
    font-weight: bold;
}

.atributos_box .atributo input {
    background-color: var(--red1);
    font-family: var(--Inter);
    font-weight: bold;
    font-size: 30px;
    width: 70%;
    position: absolute;
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.skill-column {
    gap: 20px;
}

.inspiration-box, .proficiency {
    background-color: #353535;
    border-radius: 15px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.inspiration-box > p, .proficiency > p {
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    padding-right: 30px;
}

.inspiration-box input {
    background-color: var(--red1);
    display: none;
}

.inspiration-box img {
    background-color: var(--red1);
    padding: 10px 18px;
    height: 76%;
    border-radius: 10px 0 0 10px;
}

.proficiency h4 {
    width: 40%;
    text-align: center;
    padding: 12px;
    background-color: var(--red1);
    border-radius: 10px 0 0 10px;
}

.salvaguarda_box {
    background-color: #353535;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 0;
}

.salvaguarda_box .savethrow {
    display: flex;
    background-color: #1F1F1F;
    padding: 6px;
    width: 85%;
    border-radius: 6px;
    justify-content: space-between;
}

.savethrow p {
    font-size: 12px;
}

.salvaguarda_box h5, .pericias h5 {
    font-family: var(--Inter);
    color: white;
    font-size: 17px;
    margin-top: .5rem;
}

.pericias {
    background-color: #353535;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 0;
}

.pericia {
    display: flex;
    background-color: #1F1F1F;
    padding: 6px;
    width: 85%;
    border-radius: 10px;
    justify-content: space-between;
}

.pericia p {
    font-size: 11px;
}

.proficiencySkill {
    gap: 20px;
}

.proficiencySkill .proficiency-box{
    flex-direction: column-reverse;
    background-color: #353535;
    border-radius: 5px;
    align-items: center;
    padding: 10px 0;
    gap: 1rem;
}

.proficiencySkill p {
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--Inter);
    text-transform: uppercase;
}

.proficiency-box textarea{
    all: unset;
    font-family: var(--Inter);
    color: white;
    background-color: #565656;
    width: 90%;
    border-radius: 10px;
    padding: 10px 10px;
}

.middle-column {
    width: 30%;
    gap: 20px;
}

.health-section {
    background-color: #353535;
    padding: 25px;
    border-radius: 10px;
    gap: 20px;
}

.hit-box {
    justify-content: space-between;
}

.health-section .stat-box {
    background-color: var(--red1);
    width: 25%;
    border: #380E17 5px solid;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.stat-box p {
    font-size: 20px;
    font-weight: 500;
}

.health-section .stat-box input, #iniciativa {
    all: unset;
    font-family: var(--Inter);
    color: white;
    width: 90%;
    font-size: 35px;
    font-weight: bold;
}

.health-total {
    gap: 26px;
}

.hit-points {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #767676;
    border-radius: 15px;
    padding: 10px;
}

.hit-points p {
    font-weight: bold;
    font-size: 20px;
}

.vida{
    width: 45%;
}

.vida input {
    all: unset;
    font-size: 80px;
    color: white;
    font-weight: bold;
    font-family: var(--Inter);
}

.vertical-line {
    height: 100px;
    width: 3px;
    background-color: white;
}

.vida-max {
    background-color: #767676;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.vida-max p {
    font-size: 24px;
    font-weight: bold;
}

.vida-max select {
    all: unset;
    background-color: unset;
    color: white;
    font-family: var(--Inter);
    font-size: 15px;
    background-size: 12px; /* Ajuste o tamanho da seta */
    padding-right: 20px;
    appearance: auto;
    border-radius: 5px;
    background-color: #8d8d8d;
}

.vida-max select:hover{
    border: none;
}


.vida-max input {
    all: unset;
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-family: var(--Inter);
    width: 80%;
}

.death-save {
    background-color: #767676;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
}

.death-save p {
    font-weight: bold;
}

.death-save .checkboxes {
    gap: 12px;
}

.death-save > div {
    align-items: center;
    justify-content: space-between;
}

.death-save input {
    appearance: none; /* Remove o estilo padrão */
    -webkit-appearance: none; /* Remove no Safari */
    -moz-appearance: none; /* Remove no Firefox */
    height: 20px;
    width: 20px;
    background-color: #353535;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px; /* Arredondado */
    position: relative; /* Necessário para posicionar o ::after */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.death-save input:checked {
    background-color: #767676; /* Cor quando marcado */
    border-color: #555;
}

.death-save input:checked::after {
    content: ''; /* O conteúdo é necessário para exibir o ícone */
    position: absolute;
    display: block;
    left: 6px; /* Ajuste horizontal */
    top: 3px; /* Ajuste vertical */
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); /* Forma o símbolo de check */
}

.attack-box {
    background-color: #353535;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}

.attack-box > p {
    font-weight: bold;
    font-size: 36px;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

tr {
    display: flex;
    justify-content: space-around;
}

tr#head {
    gap: 30px;
}

td > p {
    font-weight: bold;
    font-size: 20px;
}

.input-attack {
    width: 110px;
}

.input-attack > input {
    width: 100%;
    background-color: #767676;
    padding: 5px 0 5px 3px;
    font-size: 12px;
}

.inventory {
    background-color: #353535;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
    padding: 10px 0;
}

.dinheiro {
 justify-content: space-between;
 padding: 10px;
 width: 90%;
}

.money {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
    gap: 10px;
}

.money p {
    font-size: 24px;
    font-weight: bold;
}

.money input{
    background-color: #767676;
}

.horizontal-line {
    width: 80%;
    height: 1px;
    background-color: white;
}

.inventario-box {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.inventario-box textarea {
    all: unset;
    width: 85%;
    background-color: #767676;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--Inter);
}

.inventario-box p {
    font-weight: bold;
    font-size: 36px;
}

.caracteristicas {
    gap: 20px;
}

.trait {
    background-color: #353535;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    gap: 20px;
}

.trait input {
    width: 93%;
    background-color: #767676;
    font-size: 24px;
    padding: 10px;
}

.trait p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.feats {
    background-color: #353535;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    gap: 20px;
}

.feats textarea {
    all: unset;
    width: 93%;
    background-color: #767676;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--Inter);
}

.feats p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}
