* {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background: #807f7f;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

button {
  all: initial;
}

.desktop {
  position: relative;
  background-color: var(--color-black);
  text-align: center;
  font-size: var(--header-12-size);
  color: var(--color-white);
  font-family: var(--body);
  display: flex;
  flex-direction: column;
}

:root {

  /* fonts */
  --body: Raleway;
  --header-12: "a Absolute Empire";
  --font-merriweather: Merriweather;
  --font-inter: Inter;


  /* font sizes */
  --font-size-37xl: 56px;
  --font-size-46xl: 65px;
  --font-size-27xl: 46px;
  --font-size-60xl: 79px;
  --font-size-43xl: 62px;
  --font-size-34xl: 53px;
  --font-size-105xl: 124px;
  --font-size-16xl: 35px;
  --font-size-18xl: 37px;
  --font-size-121xl: 140px;
  --font-size-26xl: 45px;
  --font-size-31xl: 50px;
  --font-size-86xl: 105px;
  --font-size-33xl: 52px;
  --font-size-38xl: 57px;
  --font-size-8xl: clamp(14px, 2.3vw, 27px);
  --font-size-21xl: clamp(20px, 3.4vw, 40px);
  --header-12-size: clamp(18px, 2.5vw, 32px);
  --font-size-lg: clamp(14px, 1.5vw, 18px);
  --font-size-lgi: clamp(14px, 2vw, 32px);
  --font-size-3xs: clamp(10px, 2vw, 24px);
  --font-size-smi: clamp(13px, 1.5vw, 18px);
  --font-size-5xs: clamp(8px, 1.8vw, 18px);
  --title-size: 96px;
  --font-size-mid: 17px;
  --font-size-5xl: clamp(12px, 2.3vw, 24px);
  --font-size-65xl: clamp(40px, 8vw, 84px);
  --font-size-45xl: clamp(24px, 6vw, 64px);
  --font-size-sm: clamp(14px, 1.2vw, 18px);
  --body-size: clamp(14px, 2vw, 32px);
  --font-size-17xl: clamp(12px, 2.5vw ,36px);
  --title-size: clamp(64px, 3vw, 96px);
  --title-13-size: clamp(24px, 3vw, 36px);
  --font-size-9xl: clamp(24px, 5.4vw, 56px);
  --subtitle-22-size: clamp(17px,1.7vw, 32px);
  --font-size-xl: clamp(16px, 2.5vw, 32px);
  --font-size-4xl: clamp(17px,2vw,23px);
  --font-size-29xl: clamp(15px, 2.5vw ,36px);


  /* Border radiuses */
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-31xl: 50px;
  --br-mini: 15px;
  --br-194xl: 213px;

  /* Colors */

  --color-red-100: #ff0000;
  --dragonblood: #df0101;
  --color-white: #fff;
  --color-darkred: #8c0000;
  --color-silver-100: #c9c9c9;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-darkgray: #a6a6a6;
  --mudbase: #a8233c;
  --darkred: #760d21;
  --color-limegreen-100: #00de3f;
  --lightredwine: #cc667c;

}

