* {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background: #807f7f;
}

*:active {
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  line-height: normal;
  background-color: #0f0f0f;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

button {
  all: initial;
}

:root {
  /* fonts */
  --staat: "Staatliches";
  --poppins: "Poppins";
  --pt: "PT Serif";
  --Inter: "Inter";
  --Alata: "Alata";

  /* font sizes */
  --title-82: 82px;
  --title-64: 64px;
  --title-48: 48px;
  --subtitle-36: 36px;
  --subtitle-25: 25px;
  --text-20: 20px;
  --logo: 32px;

  /* Colors */
  --red1: #8C0000;
  --red2: #A8233C;
  --darkned: #380E17;
  --gradient: linear-gradient(#380E17, #8C0000);
  --background1: black;
  --background2: #011126;
  --background-gradient: linear-gradient(, #000000, #5B5C84);
}

h1 {
  font-size: var(--title-82);
}

h2 {
  font-size: var(--title-64);
}

h3 {
  font-size: var(--title-48);
}

h4 {
  font-size: var(--subtitle-36);
}

p, h3, h4{
  margin-bottom: 0 !important;
  font-family: var(--poppins);
  color: white;
}

h1, h2 {
  font-family: var(--staat);
  color: white;
}

h1, h2{
  font-weight: normal;
}
