nav {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  height: 70px;
  text-transform: uppercase;
  font-weight: bold;
}

nav p {
  font-family: var(--Inter);
  font-size: var(--text-20);
}

.nav-button:nth-of-type(1) a  {
  color: var(--red2);
}

.nav-button a:hover {
  transition: .2s;
  color: var(--red2);
}

.left-nav {
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.left-nav img {
  height: 53px;
  width: 57px;
}

nav .login-button {
  padding-right: 2rem;
  gap: 30px;
}

nav .login-button button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

nav .login-button button:nth-child(2){
  background-color: var(--red1);
  padding: 10px 20px;
}

.landing-banner {
  height: 878px;
}

.background-banner {
  height: 100%;
}

.banner-text {
  padding: 15% 0 0 4%;
  text-align: start;
  gap: 30px;
}

.banner-text > p {
  width: 60%;
}

.banner-text h1 {
  line-height: 60px;
}

.banner-buttons {
  gap: 2rem;
}

.banner-buttons button{
  padding: 10px 26px;
  background-color: var(--red1);
  border-radius: 10px;
  cursor: pointer;
}

.banner-buttons button:nth-child(2){
  background-color: unset;
  border: var(--red1) 2px solid;
}

.banner-sistemas {
  gap: 30px;
  margin-top: 5rem;
}

.banner-sistemas h2{
  font-size: 52px;
}

.banner-sistemas img {
  height: 100px;
}

.banner-sistemas img:nth-child(4){
  height: 90px;
}

.banner-sistemas .sistemas-icons {
  justify-content: space-around;
}

.article-boxes {
  gap: 25px;
}

.article {
  background-color: var(--background2);
  padding: 60px 0;
}

.article > h2 {
  padding-left: 3rem;
  padding-bottom: 25px;
}

.article .article-box {
  width: 93%;
  align-self: center;
  background-color: #0F0F0F;
  border-radius: 15px;
}

.article-box .intro-text {
  padding: 20px 30px;
  gap: 20px;
}

.intro-text h4 {
  font-size: 45px;
  font-family: var(--staat);
  font-weight: normal;
  color: #FA4141;
}

.intro-text p {
  text-align: justify;
  width: 97%;
  font-size: 18px;
}

.article-box img {
  padding: 35px 26px;
}

.left-article {
  gap: 20px;
  padding: 30px;
  background-color: #0F0F0F;
  border-radius: 15px;
  width: 400px;
}

.left-article img {
  padding: 0;
  width: 298px;
}

.left-article div {
  gap: 16px;
}

.left-article div p {
  text-align: justify;
}

.left-article h4 {
  font-size: 30px;
  font-family: var(--staat);
  font-weight: normal;
}

.article-box:nth-child(2) {
  gap: 20px;
  background-color: unset;
}

.right-article {
  align-items: center;
  justify-content: center;
}

.right-article h3 {
    padding: 5%;
    font-size: 50px;
    font-family: var(--staat);
    font-weight: normal;
}
