nav {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 70px;
  text-transform: uppercase;
  font-weight: bold;
}

nav p {
  font-family: var(--Inter);
  font-size: var(--text-20);
}

.nav-button:nth-of-type(1) p, .nav-button:nth-of-type(1) a  {
  color: var(--red2);
}

.left-nav {
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.left-nav img {
  height: 53px;
  width: 57px;
}

nav .login-button button {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

nav .login-button button:nth-child(2){
  background-color: var(--red1);
}
