body {
  gap: 2rem;
}

.inventory-banner {
  position: relative;
  text-align: start;
  font-size: var(--body-size);
  padding-top: 7rem;
  background-color: var(--background2);
  gap: .5rem;
}

.inventory-banner h1, .inventory-banner > p  {
  padding-left: 2.3%;
}

.inventory-banner > p {
  font-size: 20px;
  font-family: var(--Inter);
  padding-bottom: .5rem;
}

.horizontal-row {
  width: 95%;
  height: 1px;
  background-color: white;
  align-self: center;
}

.directory {
  padding: 0 2.3%;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.directory form {
  gap: 20px;
}

.directory form input {
  all: unset;
  color: black;
  background-color: white;
  border: #CECECE 3px solid;
  border-radius: 15px;
  font-family: var(--Inter);
  text-align: center;
}

.directory button {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 15px;
  background-color: var(--red1);
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

.inv-buttons {
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 2rem 2.3%;
  width: 95%;
  overflow-x: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.inv-button {
  display: flex;
  flex-direction: column;
  background: linear-gradient(120deg, #380E17 20%, #8C0000 90%);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  gap: 30px;
  width: 300px; /* Define explicitamente a largura */
  min-width: 300px;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

.inv-buttons::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.inv-buttons::-webkit-scrollbar-thumb {
  border-radius: 10px;

}

.inv-button:hover {
  background: linear-gradient(120deg,#A8233C, #8C0000);
  transition: .5s;
}

.inv-button:hover a > p:hover {
  text-decoration: underline;
}

.inv-button h4 {
  font-family: var(--Inter);
}

.inv-button p{
  font-weight: normal;
  width: fit-content;
}

.select-warning {
  background-color: #15151A;
  width: 95%;
  height: 15rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}
