body {
  gap: 2rem;
}

.inventory-banner {
  position: relative;
  text-align: start;
  font-size: var(--body-size);
  padding-top: 7rem;
  background-color: var(--background2);
  gap: .5rem;
}

.inventory-banner h1, .inventory-banner > p  {
  padding-left: 2.3%;
}

.inventory-banner > p {
  font-size: 20px;
  font-family: var(--Inter);
  padding-bottom: .5rem;
}

.horizontal-row {
  width: 95%;
  height: 1px;
  background-color: white;
  align-self: center;
}

.directory {
  padding: 0 2.3%;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.directory form {
  gap: 20px;
}

.directory form input {
  all: unset;
  color: black;
  background-color: white;
  border: #CECECE 3px solid;
  border-radius: 15px;
  font-family: var(--Inter);
  text-align: center;
}

.directory button {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 15px;
  background-color: var(--red1);
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

.inv-buttons {
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 2rem 2.3%;
  width: 95%;
  overflow-x: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.inv-button {
  display: flex;
  flex-direction: column;
  background: linear-gradient(120deg, #380E17 20%, #8C0000 90%);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  gap: 30px;
  width: 300px; /* Define explicitamente a largura */
  min-width: 300px;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

.inv-buttons::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.inv-buttons::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.inv-button:hover {
  background: linear-gradient(120deg,#A8233C, #8C0000);
  transition: .5s;
}

.inv-button:hover a > p:hover {
  text-decoration: underline;
}

.inv-button h4 {
  font-family: var(--Inter);
}

.inv-button p{
  font-weight: normal;
  width: fit-content;
}

.select-warning {
  background-color: #15151A;
  width: 95%;
  height: 15rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.archives {
  width: 95%;
  height: 86%;
  border: 5px #4D4D56 solid;
  border-radius: 15px;
  gap: 23px;
}

.pastas {
  width: 95%;
  justify-content: space-between;
}

.pastas form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pastas input {
  all: unset;
  font-family: var(--Inter);
  color: white;
  font-weight: bold;
  font-size: 15px !important;
  background-color: unset;
  width: auto !important;
  border-radius: 5px;
}

.pastas form button {
  background-color: var(--red1);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

#archive-box {
  justify-content: start;
  height: 50rem;
  padding-top: 2rem;
}

.archives-title {
  width: 90%;
  height: 2rem;
  background-color: #606074;
  border-radius: 10px;
  margin: 15px 0 0 15px;
  align-items: center;
  padding-left: 20px;
  gap: 33%;
}

.files {
  width: 92%;
  overflow-y: auto;
  height: 85%;
  padding-right: 1rem;
  margin-left: 15px;
  gap: 1rem;
}

.files::-webkit-scrollbar {
  width: 10px;
}

.files::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.files::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.file-box .file {
  width: 100%;
  padding: 8px 8px;
  border: 5px #4D4D56 solid;
  border-radius: 15px;
  justify-content: space-between;
  align-self: center;
}

.file-icon {
  gap: 17px;
  align-self: center;
}

.file-icon > p {
  width: 15rem;
  align-self: center;
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Oculta o texto que ultrapassa o limite */
  text-overflow: ellipsis;
}

.file-info {
  gap: 23rem;
  align-self: center;
}

.file-buttons {
  gap: 30px;
  align-items: center;
}

.file-buttons button {
  cursor: pointer;
}

.file-size {
  width: 70px;
  text-align: start;
}
