
nav {
    background-color: #0000007e;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 1rem;
    position: absolute;
}

nav img {
  padding-left: 1rem;
}

nav .nav-buttons {
  text-align: center;
  align-items: center;
  padding-left: 40px;
  gap: 81%;
}

.nav-buttons > .flex {
  gap: 1.8rem;
}

nav .nav-buttons p {
  font-size: var(--text-20);
}

nav .nav-buttons a {
  text-decoration: none;
  color: white;
}


.nav-buttons button {
  background-color: var(--red1);
  padding: 7px 25px;
  border-radius: 5px;
}
