body {
  background-color: #0F0F0F;
  display: flex;
  flex-direction: column;
}

.user-body {
  gap: 2rem;
}

.user-header {
  margin-bottom: 3rem;
}

.background-image {
  height: 18vw;
  justify-content: space-between;
  align-items: start;
}

.banner-title {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  align-items: end;
  justify-content: space-around;
  height: 38%;
}

.icon-name {
  gap: 5px;
  align-self: start;
}

.icon-name .user-icon {
  width: 15vw;
  height: 15vw;
  border-radius: 122px;margin-bottom: 15px;
}

.icon-name > h4 {
  font-family: var(--Inter);
  text-transform: capitalize;
  width: 280px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-name p {
  font-size: 20px;
  font-weight: bold;
}

.icon-name button {
  margin-top: 1rem;
  background-color: var(--red1);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.icon-name button:hover {
  transition: .2s;
  background-color: var(--red2);
}

.icon-name button > p {
  font-weight: normal;
}

.header-desc {
  width: 70%;
  justify-content: space-between;
}

.tag-box {
  gap: 60px;
}

.amizades a > h4 {
  font-weight: normal;
}

.amizades a > div {
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tags {
  align-items: center;
  gap: 20px;
}

.tag {
  background-color: white;
  border: 3px solid #353535;
  border-radius: 15px;
  padding: 15px 12px;
}

.tag p {
  color: black;
  font-family: var(--Inter);
  font-weight: 900;
  font-size: 22px;
}

.buttons {
  align-items: center;
  gap: 20px;
}

.buttons button {
  background-color: var(--red1);
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 20px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  transition: .2s;
  background-color: var(--red2);
}

.bio {
  margin-top: 13rem;
  width: 93%;
  align-self: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  gap: 8px;
  margin-bottom: 2rem;
}

.bio > * {
  color: #2F2E2E;
}

.bio > .horizontal-row {
  height: 3px;
  width: 100%;
  background-color: #2F2E2E;
}

.bio p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 9rem;
  font-size: 20px;
  text-align: justify;
}

/* Editar Perfil */

.edit-box {
  width: fit-content;
  position: relative;
  align-items: center;
  justify-content: center;
}

#pencil {
  width: 7vw;
}

#change-Image {
cursor: pointer;
position: absolute;
z-index: 10;
}

.grey-filter {
  width: fit-content;
  height: 100%;
  background-color: gray;
  border-radius: 122px;
  opacity: 0.5;
}

.grey-filter > .user-icon {
  margin: unset;
}

.icon-name select{
  all: unset;
  appearance: auto;
  font-family: var(--poppins);
  font-size: 20px;
  color: white;
  width: fit-content;
  background-color: #333; /* Fundo do select */
  padding: 5px 0 5px 10px; /* Espaço para a seta */
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 1rem;
}

.tag select {
  all: unset;
  appearance: auto;
  font-family: var(--Inter);
  font-weight: 900;
  font-size: 20px;
  width: fit-content;
  border-radius: 5px;
  padding-right: 1rem;
  width: fit-content;
}

.header-rpg {
  justify-content: end;
  gap: 3rem;
  align-items: center;
}

#change-age {
  align-items: center;
  gap: 1rem;
}

#change-age input {
  all: unset;
  font-family: var(--Inter);
  font-size: 20px;
  width: 40px;
}

.buttons #editar > p{
  font-size: 32px;
}

#img-sent {
  display: none;
}

#id_descricao {
  all: unset;
  width: 100%;
  height: 100%;
}
