
{% for pasta, personagens in pasta_personagens.items %}
    <div class="folder-item">
        <div class="folder-name" onclick="toggleFolderContent(this)">
            <div class="folder-left">
                <span class="arrow"></span> {{ pasta.nome }}
            </div>
            <a href="{% url 'criar_personagem' campaign_id pasta.id %}" class="create-button">Criar +</a>
            <a href="{% url 'deletar_pasta_criaturas' campaign_id pasta.id %}" class="delete-link deleta_pasta">Deletar</a>
        </div>
        <div class="folder-content">
            {% for personagem in personagens %}
            <div class="personagem">
                <div class="esquerda">
                    <p>
                        <a href="{% url 'editar_personagem_campanha' campaign_id personagem.id %}">{{ personagem.nome }}</a>
                    </p>
                </div>
                <div class="direita">
                    <button class="place-on-map" data-personagem-id="{{ personagem.id }}">
                        <i class="ph ph-arrow-square-in"></i><!-- Ícone de alvo -->
                    </button>
                    <a href="{% url 'deletar_personagem_campanha' campaign_id personagem.id %}">
                        Deletar
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% empty %}
    <p>Crie uma pasta para criar suas fichas.</p>
{% endfor %}

<script>
    $('.place-on-map').click(function() {
        const personagemId = $(this).data('personagem-id');
        const mapId = currentMapId;  // You need to define currentMapId elsewhere in your script

        const myUrl = "{% url 'place_token' 0 0 %}".replace('0/0', mapId  + '/' + personagemId);

        fetch(myUrl)
        .then(response => response.json())
        .then(data => {
            console.log("Dados recebidos:", data);
        })
        .catch(error => {
            console.error("Erro na requisição:", error);
        });
    });
</script>