<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Map</title>
</head>
<body>
    <h2>Criar Mapa</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar Mapa</button>
    </form>

    <h2>Mapas Criados</h2>
    <ul>
        {% for map in maps %}
            <li><a href="{% url 'enter_map' map_id=map.id %}">{{ map.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
