<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Map</title>
</head>
<body>
    <h2>{{ map.name }}</h2>
    <div id="table" style="position: relative; width: 800px; height: 600px; border: 1px solid black; background-size: cover;">
        <!-- Mapa -->
        <img id="map" src="{{ map.background_image.url }}" style="position: absolute; left: 0px; top: 0px; width: 800px; height: 600px;">

        <!-- Tokens -->
        {% for token in tokens %}
            <img id="token_{{ token.id }}" src="{{ token.image.url }}" class="token" style="position: absolute; left: {{ token.position_x }}px; top: {{ token.position_y }}px; width: 100px; height: 100px;">
        {% endfor %}
    </div>

    <form id="uploadTokenForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" id="tokenImageInput">
        <input type="hidden" name="map_id" value="{{ map.id }}">
        <button type="submit" id="uploadTokenButton">Adicionar Token</button>
    </form>

    <form id="deleteAllTokensForm" action="{% url 'delete_all_tokens' %}" method="post">
        {% csrf_token %}
        <button type="submit">Excluir Todos os Tokens</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            // Adiciona ouvintes de eventos aos tokens para permitir o arrastar
            document.querySelectorAll('.token').forEach(function(token) {
                token.addEventListener('mousedown', startDrag);

                function startDrag(event) {
                    let offsetX = event.clientX - token.getBoundingClientRect().left;
                    let offsetY = event.clientY - token.getBoundingClientRect().top;
                    document.addEventListener('mousemove', dragToken);
                    document.addEventListener('mouseup', stopDrag);

                    function dragToken(event) {
                        let x = event.clientX - offsetX;
                        let y = event.clientY - offsetY;

                        // Verifica se as novas coordenadas estão dentro dos limites do mapa
                        let mapRect = document.getElementById('map').getBoundingClientRect();
                        let mapWidth = mapRect.width;
                        let mapHeight = mapRect.height;
                        let tokenWidth = token.offsetWidth;
                        let tokenHeight = token.offsetHeight;

                        if (x >= 0 && x <= mapWidth - tokenWidth && y >= 0 && y <= mapHeight - tokenHeight) {
                            token.style.left = x + 'px';
                            token.style.top = y + 'px';
                        }
                    }

                    function stopDrag() {
                        document.removeEventListener('mousemove', dragToken);
                        document.removeEventListener('mouseup', stopDrag);
                        let tokenId = token.id;
                        let x = parseInt(token.style.left);
                        let y = parseInt(token.style.top);
                        sendTokenCoordinates(tokenId, x, y); // Enviar as coordenadas atualizadas
                    }
                }
            });

            // Função para enviar as coordenadas atualizadas do token para o servidor
            function sendTokenCoordinates(tokenId, x, y) {
                let formData = new FormData();
                formData.append('token_id', tokenId.split('_')[1]);
                formData.append('position_x', x);
                formData.append('position_y', y);

                fetch('update_token_position/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                });
            }

            document.getElementById('uploadTokenForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Impede o comportamento padrão do formulário
                let formData = new FormData(this);

                fetch('{% url 'upload_token' %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao adicionar token:', response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    // Se o token for adicionado com sucesso, recarregue a página para ver o token adicionado
                    location.reload();
                })
                .catch(error => {
                    console.error('Erro ao adicionar token:', error);
                });
            });
        });
    </script>
</body>
</html>
