<div id="map" style="position: relative;">
    <img class="mapa" id="mapaImg" src="{{ map.image.url }}" alt="{{ map.name }}">
    <div id="tokens">
        {% for token in tokens %}
            <div class="token" data-id="{{ token.id }}" style="left: {{ token.position_x }}px; top: {{ token.position_y }}px;">
                <img src="{{ token.image.url }}" alt="Token" style="width: 100%; height: 100%;  cursor: pointer;">
            </div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).on('keydown', function(e) {
        if (e.key === 'Delete' && selectedTokenId !== null) {
            socket.send(JSON.stringify({
                'action': 'delete_token',
                'token_id': selectedTokenId
            }));
            selectedTokenId = null; // Resetando o token selecionado
        }
    });
    
    $(document).on('click', '.token', function() {
        selectedTokenId = $(this).data('id');
        console.log("Token selecionado com ID:", selectedTokenId);
    });
</script>

