{% extends "tabletop/base.html" %}

{% block content %}
<div id="table" style="position: relative; width: 800px; height: 600px; border: 1px solid black;">
    {% for object in objects %}
        <img id="object_{{ object.id }}" src="{{ object.image.url }}" class="object" style="left: {{ object.position_x }}px; top: {{ object.position_y }}px; width: 100px; height: 100px;">
    {% endfor %}
</div>

<form id="uploadForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Nome do objeto">
    <input type="file" name="image" id="imageInput">
    <button type="submit" id="uploadButton">Enviar</button>
</form>

<form id="deleteImagesForm" action="{% url 'delete_all_images' %}" method="post">
    {% csrf_token %}
    <button type="submit">Excluir Todas as Imagens</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        // Adiciona ouvintes de eventos aos objetos para permitir o arrastar
        document.querySelectorAll('.object').forEach(function(object) {
            object.addEventListener('mousedown', startDrag);

            function startDrag(event) {
                let offsetX = event.clientX - object.getBoundingClientRect().left;
                let offsetY = event.clientY - object.getBoundingClientRect().top;
                document.addEventListener('mousemove', dragObject);
                document.addEventListener('mouseup', stopDrag);

                function dragObject(event) {
                    let x = event.clientX - offsetX;
                    let y = event.clientY - offsetY;
                    object.style.left = x + 'px';
                    object.style.top = y + 'px';
                }

                function stopDrag() {
                    document.removeEventListener('mousemove', dragObject);
                    document.removeEventListener('mouseup', stopDrag);
                    let objectId = object.id;
                    let x = parseInt(object.style.left);
                    let y = parseInt(object.style.top);
                    sendCoordinates(objectId, x, y); // Enviar as coordenadas atualizadas
                }
            }
        });

        // Função para enviar as coordenadas atualizadas do objeto para o servidor
        function sendCoordinates(objectId, x, y) {
            let formData = new FormData();
            formData.append('object_id', objectId.split('_')[1]);
            formData.append('position_x', x);
            formData.append('position_y', y);

            fetch('update_object_position/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                body: formData
            });
        }
    });
</script>
{% endblock %}