{% extends 'inventario/base.html' %}

{% block content %}
<h1>{{ div }}</h1>

<ul>
{% for pasta in pastas %}
        <li>
            <a href=" {% url "visualizar_pasta" div pasta.nome %}">{{pasta.nome}}</a> 
            <a href=" {% url "deletar_pasta" pasta.id %}">Deletar</a>
            <a href=" {% url "editar_pasta" pasta.id %}">Edit</a>
        </li>
{% endfor%}
</ul>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <p>{{ mensagem }}</p>
    <button type="submit">Criar</button>
</form>

{% endblock%}