{% extends 'inventario/base.html' %}
{% load static %}

{% block title %}
    {{ div }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/inventario.css" %}" />
{% endblock %}

{% block content %}

<div class="inventory-banner flex-column">

  <h1>{{ div }}</h1>
  <div class="horizontal-row"></div>

  <div class="directory flex">
    <h4>Diretórios</h4>
    <form class="flex" method="post" action="">
      {% csrf_token %}
      {{ form.nome }}
      <button style="cursor: pointer;" class="send-button flex" type="submit">
        <p>Criar</p>
        <img src="{% static "img/plus.svg" %}" alt="">
      </button>
    </form>
  </div>

  <div class="inv-buttons flex">

    {% for pasta in pastas %}

      <button onclick="window.location.href = '{% url "visualizar_pasta" div pasta.nome %}';" class="inv-button direct-box">
        <h4>{{pasta.nome}}</h4>
        <a href="{% url "deletar_pasta" pasta.id %}"> <p>Deletar Pasta</p> </a>
      </button>

    {% endfor%}

  </div>

</div>

<div class="select-warning flex-column">
<h4>Selecione um dos botões acima!</h4>

<p>E então, crie pastas para organizar seus documentos!</p>
</div>


<div class="inventario-header flex">

        {% if mensagem %}
            <p> {{ mensagem }} <p>
        {% endif %}

  <div class="directories flex">




  </div>


  </div>

{% endblock%}
