{% extends 'inventario/base.html' %}
{% load static %}

{% block title %}
    Inventario
{% endblock %}

{% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/inventario.css" %}" />
{% endblock %}

{% block content %}

    <div class="inventory-banner flex-column">

        <h1>Inventario</h1>
        <p>Organize seus documentos para uma sessão inesquecível</p>
        <div class="horizontal-row"></div>

        <div class="inv-buttons flex">

          <button onclick="window.location.href = '{% url 'mapas' %}';" class="inv-button">
              <h4>Mapas</h4>
              <p>0 Arquivos</p>
          </button>


          <button onclick="window.location.href = '{% url 'criaturas' %}';" class="inv-button">
                <h4>Criaturas</h4>
                <p>0 Arquivos</p>
          </button>

          <button onclick="window.location.href = '{% url 'imagens' %}';" class="inv-button">
                <h4>Imagens</h4>
                <p>0 Arquivos</p>
          </button>

          <button onclick="window.location.href = '{% url 'documentos' %}';" class="inv-button">
                <h4>Documentos</h4>
                <p>0 Arquivos</p>
          </button>

          <button onclick="window.location.href = '{% url 'musicas' %}';" class="inv-button">
              <h4>Musicas</h4>
              <p>0 Arquivos</p>
          </button>

        </div>

    </div>

    <div class="select-warning flex-column">
      <h4>Selecione um dos botões acima!</h4>

      <p>E então, crie pastas para organizar seus documentos!</p>
    </div>



{% endblock%}
