{% extends 'inventario/base.html' %}

{% block content %}
<h1>Visualizar Pasta</h1>

{% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.file }}<br>
    <button type="submit">Enviar</button>
</form>
{% for file in files %}
    <a href="{% url 'deletar_arquivo' file.id div file.pasta_id %}">Deletar</a>
    <img src="{{ file.file.url }}" height="200px" width="150px">
    <a href="{{ file.file.url }}">Baixar</a>
    <p>Nome: {{ file.nome }}</p>
    
{% endfor %}

{% endblock%}