{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Baú do Mestre</title> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Ain.png' %}" type="image/x-icon">
</head>
<body>
    
    {% if user.is_authenticated %}
    <nav>Navbar <a href="{% url 'account_logout' %}">Logout</a></nav>
    {% else %}
    <nav>Navbar <a href="{% url 'account_signup' %}">Cadastre-se </a><a href="{% url 'account_login' %}">Login</a></nav>
    {% endif %}
    {% block conteudo %}
    
    {% endblock conteudo %}
    
</body>
</html>
