{% extends 'principal/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/global-ia.css' %}" />
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsivity.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=a Absolute Empire:wght@400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
<style>
    #chat-body {
        background-image: url({% static "img/public/chat-background.svg" %});
        height: 87%;
        width: 100%;
        background-size: 75%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    nav {
        display: none !important;
    }
</style>
<title>Baú do Mestre</title>
{% endblock %}

{% block conteudo %}
<div class="flex" style="height: 100vh;">
    <div class="leftmessanger flex">

        <div class="contacts-header flex">
            <button style="all: unset;" onclick="goBack()">
                <img class="down-arrow-1-41" alt="" src="{% static 'img/public/downarrow-1-4@2x.png'%}" id="downArrow14"/>
            </button>

            <div id="amizades">AMIZADES</div>
            <div class="contacts-header-icon flex">
                <a href="{% url 'search_user' %}">
                    <img class="create-group-button-2-1" alt="" src="{% static "img/public/addFriend.png" %}" id="createGroupButton21"/>
                </a>
            </div>
        </div>

        <div class="searchbar2">
            <div class="searchbar-inner flex">
                <input id="searchInput" placeholder="Pesquisar" class="pesquisar" oninput="filterFriends()"></input>
                <div class="searchbar-child1 flex"/>
                    <img class="magnifying-glass-1-icon1" alt="" src="{% static "img/public/magnifyingglass-11.svg" %}"/>
                </div>
            </div>
        </div>

        <div class="contact-list flex">
            {% for amigo in amigos %}
            <a href="{% url 'Abrir_chat_privado' amigo.amigo.id %}">
            <div id="{{ amigo.nomeAmigo }}" class="amizade">
                
                <div class="image-50-group">
                    {% if amigo.fotoConta == 'Indefinido' %}
                        <img style="background-color: white;" class="image-50-icon1" alt="" src="{% static 'img/Ain.png' %}"/>
                    {% else %}
                        <img class="image-50-icon1" alt="" src="{{ amigo.fotoConta.url }}"/>
                    {% endif %}
                    
                </div>
                <div class="contact-write">
                    <b>{{ amigo.nomeAmigo }}</b>
                    <p class="e-a-mesa">{{ amigo.lastMessage }}</p>
                </div>
                <p class="time">{{ amigo.lastHour|date:"H:i" }}</p>
            </div>
            </a>
            {% endfor %}
        </div>

    </div>
    <div id="chat" class="chatprivado flex">
        <div class="header1">

            <div class="header-child flex">

                <div class="image-50-parent3 flex">
                    {% if chatPerfil.fotoConta != 'Indefinido' %}
                        <img class="image-50-icon6" alt="" src="{{ chatPerfil.fotoConta.url }}"/>
                    {% else %}
                        <img class="image-50-icon6" alt="" src="{% static 'img/ain.png '%}"/>
                    {% endif %}
                </div>

                <div class="header-text">
                    <a style="all: unset; cursor: pointer;" href="{% url 'exibir_perfil' chatPerfil.slug %}"><b class="lucas-passos3">{{ chatPerfil.nome }}</b></a>
                    <p class="online">{{ chatPerfil.tipoJogador }}</p>
                </div>

            </div>


        </div>

        <div id="chat-body">

            <div id="chat-log" class="text-area flex">

                {% for mensagem in mensagens %}
                    {% if mensagem.autor == user %}
                        <div class="my-text">
                            <div class="hour">
                                <p>{{ mensagem.tempo|date:"H:i - d/m" }}</p>
                            </div>
                            <div class="flex msg">
                                <div class="msg-box">
                                    <p  style="white-space: pre-line;">{{ mensagem.conteudo }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="{% url 'excluir_mensagem' mensagem.id %}">Excluir</a> -->
                    {% else %}
                        <div class="your-text">
                            <div class="hour">
                                <p>{{ mensagem.tempo|date:"d/m - H:i" }}</p>
                            </div>
                            <div class="msg flex">
                                <div class="msg-box">
                                    <p  style="white-space: pre-line;">{{ mensagem.conteudo }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sent-bar flex">
                <div id="sent" class="flex">
                    <textarea type="text" id="auto-resize-textarea" oninput="autoResize()" class="flex" name="" cols="0" rows="0"></textarea>
    
                    <button style="cursor: pointer;" id="chat-message-submit" type="button" value="Enviar" class="sent-elipse flex">
                        <img src="{% static "img/public/paper-plane.svg" %}" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var base_url = 'ws://' + window.location.hostname + ':' + window.location.port + '/ws/open_chat/' + "{{ uuid }}" + '/';
    var chatSocket = new WebSocket(base_url);
    var chatLog;

    window.onload = function () {
        // Ajusta o scroll quando a página é completamente carregada
        chatLog = document.querySelector('#chat-log');
        if (chatLog) {
            chatLog.scrollTop = chatLog.scrollHeight;
        }
    };

    chatSocket.onmessage = function (event) {
        var parsed = JSON.parse(event.data);
        chatLog = document.querySelector('#chat-log');

        var messageData = parsed.message.split(':');
        var author = messageData[0].trim();
        var content = messageData[1].trim();

        var isMyMessage = author === "{{ user }}";

        var messageBlock = document.createElement('div');
        messageBlock.className = isMyMessage ? 'my-text' : 'your-text';

        var hourBlock = document.createElement('div');
        hourBlock.className = 'hour';
        hourBlock.innerHTML = '<p>' + new Date().toLocaleTimeString('pt-BR', { hour: 'numeric', minute: 'numeric' }) + '</p>';
        messageBlock.appendChild(hourBlock);

        var flexMsgBlock = document.createElement('div');
        flexMsgBlock.className = 'flex msg';
        messageBlock.appendChild(flexMsgBlock);

        var msgBoxBlock = document.createElement('div');
        msgBoxBlock.className = 'msg-box';
        msgBoxBlock.innerHTML = '<p style="white-space: pre-line;">' + content + '</p>';
        flexMsgBlock.appendChild(msgBoxBlock);

        chatLog.appendChild(messageBlock);

        if (chatLog) {
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        var friendId = author;
        updateLastMessage(friendId, content, author);
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#auto-resize-textarea');
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message
        }));

        if (chatLog) {
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        var currentFriendId = "{{ chatPerfil.nome }}";
        updateLastMessage(currentFriendId, message, "{{ user }}");

        messageInputDom.value = '';
    };

    function autoResize() {
        var textarea = document.getElementById('auto-resize-textarea');
        var minHeight = 50;
        var maxHeight = 200;
        var desiredHeight = Math.min(textarea.scrollHeight, maxHeight);

        if (textarea.value.trim() === '') {
            textarea.style.height = minHeight + 'px';
        } else {
            textarea.style.height = Math.max(desiredHeight, minHeight) + 'px';
        }
    }
    function updateLastMessage(friendId, lastMessage, author, timestamp) {
        var friendElement = document.getElementById(friendId);
        if (friendElement) {
            var lastMessageElement = friendElement.querySelector('.e-a-mesa');
            var lastHourElement = friendElement.querySelector('.time');
    
            if (lastMessageElement) {
                lastMessageElement.textContent = author + ': ' + lastMessage;
            }
    
            if (lastHourElement && timestamp) {
                lastHourElement.textContent = new Date(timestamp).toLocaleTimeString('pt-BR', { hour: 'numeric', minute: 'numeric' });
            }
        }
    }

    function filterFriends() {
        var input, filter, friends, friend, i, friendId;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        friends = document.getElementsByClassName("amizade");

        for (i = 0; i < friends.length; i++) {
            friend = friends[i];
            friendId = friend.id.toUpperCase();

            if (friendId.includes(filter)) {
                friend.style.display = "";
            } else {
                friend.style.display = "none";
            }
        }
    }

    function goBack() {
        window.history.back();
    }
</script>
{% endblock conteudo %}
