{% extends 'principal/base.html' %} 

{% block conteudo %}
<div>
    <a href="{% url 'listar_amigos' %}">Voltar a lista de amigos</a>
  </div>
  
  <br>
  
  <div id="chat-log" style="border:1px solid;width:500px;height:400px;">
  
  
    {% for mensagem in mensagens %}
    <p><a href="{% url 'exibir_perfil' perfil_slug=mensagem.autor.username|lower %}">{{ mensagem.autor }}: ({{ mensagem.tempo}})</p> </a>
    <p>  {{ mensagem.conteudo }}</p>
    {% if mensagem.autor == user %}
        <a href="{% url 'excluir_mensagem' mensagem.id %}">Excluir</a>
    {% endif %}
    {% endfor %}
 
  <title> chat </title>
  
  </div>
  
  <br>
  <input id="chat-message-input" type="text" size="60" placeholder="Escrever mensagem">
  <br>
  <br>
  
  <input id="chat-message-submit" type="button" value="Enviar">
  
  <script>
  
  base_url =  'ws://' + window.location.hostname + ':' + window.location.port + '/ws/open_chat/' + "{{ uuid }}" + '/';
  
  chatSocket = new WebSocket(base_url);
  
  chatSocket.onmessage = function(event){
      let parsed = JSON.parse(event.data);
      document.querySelector('#chat-log').innerHTML += '<p>' + parsed.message + '</p>';
  }
  
  document.querySelector('#chat-message-submit').onclick = function(e) {
      const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
          'message': message
          }));
      messageInputDom.value = '';
      };
  
  </script>

{% endblock conteudo %}