{% extends 'principal/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/chat.css" %}">
    <style>
        #chat-body {
            background-image: url({% static "img/public/chat-background.svg" %});
            height: 87%;
            width: 100%;
            background-size: 80%;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
        nav {
            display: none !important;
        }
    </style>
    <title>Lista de amigos</title>
{% endblock %}

{% block conteudo %}

<div class="flex" style="height: 100vh;">

    <div class="leftmessanger flex">

        <div class="contacts-header flex">

            <button class="flex" style="all: unset;" onclick="goBack()">
                <img class="back-caret" alt="" src="{% static 'img/icons/caret-left.svg'%}"/>
            </button>

            <p id="amizades">AMIZADES</p>
            <div class="header-icon flex">
                <a href="{% url 'search_user' %}">
                    <img alt="" src="{% static "img/public/addFriend.png" %}" />
                </a>
            </div>
        </div>

      <div class="searchbar">

        <div class="searchbar-inner flex">
            <input id="searchInput" placeholder="Pesquisar" class="pesquisar" oninput="filterFriends()"></input>
            <div class="search-button flex"/>
                <img class="magnifying-glass-1-icon1" alt="" src="{% static "img/public/magnifyingglass-11.svg" %}"/>
            </div>
        </div>

    </div>

      <div class="contact-list flex">
        {% for amigo in amigos %}
            <a href="{% url 'Abrir_chat_privado' amigo.amigo.id %}">
                <div onclick="initMob()" class="amizade">
                    <div class="friend-icon">
                        {% if amigo.fotoConta == "Indefinido" %}
                            <img style="background-color: white;" class="icon" alt="" src="{% static 'img/Ain.png' %}"/>
                        {% else %}
                            <img class="icon" alt="" src="{{ amigo.fotoConta.url }}"/>
                        {% endif %}
                    </div>

                    <div class="contact-write">
                        <p>{{ amigo.amigo.username }}</p>
                        <p class="e-a-mesa">{{ amigo.lastMessage }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}

      </div>

    </div>

    <div id="chat" class="chatprivado flex">
      <div class="header-chat">
        <div class="header-box flex">
        </div>
      </div>

      <div id="chat-body">

        <div class="sent-bar flex">
            <div id="sent" class="flex">
                <textarea type="text" id="auto-resize-textarea" oninput="autoResize()" class="flex" name="" cols="0" rows="0"></textarea>

                <button style="cursor: pointer;" id="chat-message-submit" type="button" value="Enviar" class="sent-box flex">
                    <img src="{% static "img/icons/sent.svg" %}" alt="">
                </button>
            </div>
        </div>

      </div>
    </div>
  </div>

<script>
  function filterFriends() {
    var input, filter, friends, friend, i, friendId;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    friends = document.getElementsByClassName("box-amigo");

    for (i = 0; i < friends.length; i++) {
        friend = friends[i];
        friendId = friend.id.toUpperCase();

        if (friendId.includes(filter)) {
            friend.style.display = "";
        } else {
            friend.style.display = "none";
        }
    }
}

function goBack() {
    window.history.back();
}
</script>

{% comment "" %}
<a href="{% url 'exibir_perfil' perfil_slug=amigo.slug %}">{{ amigo.amigo.username }}</a> <a href="{% url 'remover_amigo' amigo.amigo.id %}">Desfazer Amizade</a><br>
        <a href="{% url 'Abrir_chat_privado' amigo.amigo.id %}">Abrir Chat</a><br>
{% endcomment %}





{% endblock conteudo %}
