{% extends 'principal/base.html' %}

{%block conteudo%}

<h1>Solicitações de Amizade Recebidas</h1>
<ul>
    {% for solicitacao in solicitacoes_recebidas %}
        <li>{{ solicitacao.de_usuario.username }} deseja ser seu amigo.
            <a href="{% url 'aceitar_solicitacao' solicitacao.id %}">Aceitar</a>
            <a href="{% url 'recusar_solicitacao' solicitacao.id %}">Recusar</a>
        </li>
    {% empty %}
        <li>Nenhuma solicitação de amizade recebida.</li>
    {% endfor %}
</ul>


{%endblock conteudo%}